{% extends "mobile_base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div
        class=""
        style="
          height: 300px;
          background: url('{% static 'images/photo-back.jpg' %}');
        "
      >
        <div
          style="
            height: 300px;
            background-color: #a40207;
            opacity: 0.9;
            width: 100%;
          "
        ></div>
        <div style="position: absolute; top: 25%">
          <center>
            <small
              ><p class="offset-6" style="color: white; width: 100%">
                A peak into our odyssey
              </p></small
            >
            <p
              class="offset-6"
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              From Scratch
            </p>
            <p
              class="offset-6"
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              To Hatch
            </p>
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-sm"
      style="width: 100%; height: 100px; margin-top: 3%; text-align: center"
    >
      <img class="img-fluid" src="{% static '/images/about_us/loc.jpg' %}" />
    </div>
    <div class="col-sm">
      <div
        class="d-flex flex-row justify-content-center align-items-center"
        style="margin: 5% 0"
      >
        <div class="p-2">
          <div style="font-size: 40px; color: black; font-weight: bolder">
            ABOUT US
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p style="font-size: 16px; line-height: 32px">
        <span class="first_letter_cap">“D</span>o what you can, with what you
        have and where you are”- was our guiding principle when we started a
        year ago. We didn’t wait until conditions were perfect. Instead we
        thought, our beginning will make our conditions perfect. We opened our
        first cafe in January, 2019 at Manewada Square, Nagpur– the youth and
        the young at heart immediately took to the cafe, and it continues to be
        one of the most happening places in the city. Today, LOC has over 8 branches across Nagpur and other cities, serving more than 10,000 visitors daily.
        <br /><br />
        LOC to the people is a “hangout” spot where they meet new people, make
        conversations, and have a whole lot of fun over steaming cups of great
        tea. Our customers have made us who we are today and we're glad to be a
        part of their lives. We make sure everything we do is through the lens
        of humanity. We are devoted to support local venders and youngsters too
        who want to start their entrepreneurship journey. It’s been an exciting
        journey since then to becoming the largest organized retail café chain
        in the Nagpur city.
        <br /><br />
        At the helm of this team, two passionate co-owners. Indeed, the
        partners, Shubham Dabre and Ujjwal Sahare share a true love and passion
        for crafting amazing tea.
      </p>
    </div>
  </div>
  <div class="row">
    <!-- Not using class `col` here as it working fine -->
    <div>
      <div style="margin-top: 5%">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-ride="carousel"
        >
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div style="width: 100%">
                <div class="row">
                  <div
                    class="col-sm-8"
                    style="background-color: #a21b1b; padding: 4%"
                  >
                    <h2
                      class="card-title"
                      id="founder_text"
                      style="font-size: 40px; font-weight: bolder; color: white"
                    >
                      Meet the Founder
                    </h2>
                    <p id="founder_text" style="font-size: 18px">
                      Shubham, one of the masterminds behind the success of LOC,
                      a graduate from one of the best technological institutes
                      of Maharashtra, after working in a well-known construction
                      firm for a couple of years soon realised and was deeply
                      moved by the quote “ Don’t just aspire to make a living,
                      but to make a difference”. This ignited his mind to
                      explore and realise his strengths. In the process of
                      mingling his skills with his thinking, he decided to make
                      a difference by serving tea-The practical version of
                      Amrit.
                    </p>
                    <p id="founder_text" style="font-size: 18px">
                      Shubham shares his partner Ujjwal’s views when it comes to
                      describing his vision of the business:
                    </p>
                    <p id="founder_text" style="font-size: 18px">
                      “It's my duty to create a warm and lively atmosphere for
                      our customers, where quality products are served in a
                      simple yet divine way in order to awaken their taste
                      buds.”
                    </p>
                    <h2
                      class="card-title"
                      id="founder_text"
                      style="font-size: 18px"
                    >
                      Shubham Dabre
                    </h2>
                    <h4 id="founder_text" style="font-size: 18px">
                      Co Founder
                    </h4>
                    <img
                      src="{% static 'images/about_us/shubham.jpg' %}"
                      class="card-img-bottom img-fluid"
                      alt="Header Image"
                      style="float: right; width: 70%"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div style="width: 100%">
                <div class="row">
                  <div
                    class="col-sm-8"
                    style="background-color: #20303d; padding: 4%"
                  >
                    <h2
                      class="card-title"
                      id="founder_text"
                      style="font-size: 40px; font-weight: bolder; color: white"
                    >
                      Meet the Founder
                    </h2>
                    <p id="founder_text" style="font-size: 18px">
                      When talking to Ujjwal about the Cafe, it is obvious to
                      see the passion he has for the tea and business. Let’s see
                      what his vision towards LOC is,
                    </p>
                    <p id="founder_text" style="font-size: 18px">
                      “For a brief moment in the lives of our customers, we try
                      to take them on a short culinary journey, where we want to
                      awaken all their senses. This was the main idea behind our
                      process and it is that which best defines the uniqueness
                      of LOC.”
                    </p>
                    <p id="founder_text" style="font-size: 18px">
                      Ujjwal further adds, our purpose is to DELIVER MAGIC
                      MOMENTS EVERYDAY THROUGH OUTSTANDING HOSPITALITY,
                      DELICIOUS PRODUCTS OF BEST VALUE AND GREAT CONVENIENCE.
                    </p>
                    <p id="founder_text" style="font-size: 18px">
                      Come and experience the magic of LOC.
                    </p>
                    <h2
                      class="card-title"
                      id="founder_text"
                      style="font-size: 18px"
                    >
                      Ujjwal Sahare
                    </h2>
                    <h4 id="founder_text" style="font-size: 18px">
                      Co Founder
                    </h4>
                    <img
                      src="{% static 'images/about_us/DSC_0198.jpg' %}"
                      class="card-img-bottom img-fluid"
                      alt="Header Image"
                      style="float: right; width: 70%"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div style="font-family: 'Open Sans', sans-serif; margin-top: 10%">
        <center>
          <h1
            style="
              margin: 10% 0;
              font-size: 40px;
              color: black;
              font-weight: bolder;
            "
            id="photos"
          >
            PHOTOS
          </h1>
        </center>
        <div class="row">
          <div class="col-md-4">
            <p style="font-size: 16px; margin: 0 12%; text-align: center">
              <span class="first_letter_cap">G</span>et to know us and you’ll
              see we are so much more than what we serve. Check out some cool
              snaps of our LOC
            </p>
          </div>
          <div class="col-md-3" style="margin-top: 12%">
            <a
              href="#"
              class="meat"
              data-img="{% static '/images/DSC_0119.jpg' %}"
            >
              <img
                class="img-fluid image_gallery"
                src="{% static '/images/DSC_0119.jpg' %}"
                style="margin-bottom: 5%"
              />
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <a
              href="#"
              class="meat"
              data-img="{% static '/images/about_us/03.jpg' %}"
            >
              <img
                src="{% static '/images/about_us/03.jpg' %}"
                style="float: right"
              />
            </a>
          </div>
          <div class="col-md-5" style="margin-top: 2%">
            <a
              href="#"
              class="meat"
              data-img="{% static '/images/about_us/01.jpg' %}"
            >
              <img src="{% static '/images/about_us/01.jpg' %}" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10%; margin-bottom: 10%">
    <div class="col-md-6">
      <h1
        style="
          color: black;
          font-size: 40px;
          font-weight: bolder;
          text-align: center;
        "
      >
        Journey of Garden to Cup
      </h1>
      <p style="font-size: 16px; text-align: center">
        Tea leaves- It always has been and will always be about quality
      </p>
      <p style="font-size: 14px; text-align: center; line-height: 28px">
        <span class="first_letter_cap">W</span>e believe that tea preparation is
        nothing but an Art. We take a great amount of time and efforts to
        finalise the tea recipes. From hygiene to the quality of tea leaves, the
        balance of ingredients to the amount of sugar, everything is dealt with
        precision and perfection. To ensure authenticity, we prepare our own
        chai masalas. Thus, you’ll be able to experience the same heavenly taste
        at any franchisee of LOC.
      </p>
    </div>
    <div class="col-md-6">
      <div class="product-holder">
        <img
          src="{% static '/images/about_us/tea_02.jpg' %}"
          style="position: relative; display: block"
        />
        <img
          src="{% static '/images/about_us/tea_01.jpg' %}"
          height="200"
          style="
            position: absolute;
            bottom: -20%;
            z-index: 2;
            width: 70%;
            height: 65%;
            right: 2%;
          "
        />
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div class="" style="height:300px; background : url('{% static 'images/photo-back.jpg' %}');">
            <div style="height: 300px;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div style="position: absolute;top:25%;">
                <center>
                    <small><p class="offset-6" style="color:white;width:100%; ">A peak into our odyssey</p></small>
                <p class="offset-6" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">From Scratch</p>
                <p class="offset-6" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">To Hatch</p>
                </center>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="col-sm" style="width: 80%; margin-left: 10%;">
            <img class="img-fluid" src="{% static '/images/about_us/loc.jpg' %}"/>
        </div>
        <div class="col-sm">
            <div class="d-flex flex-row justify-content-center align-items-center" style="margin-top: 10%;">
                <div class="p-2">
                    <div style="font-size: 40px; color:black; font-weight: bolder;">ABOUT US</div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="container" style="font-family: 'Open Sans', sans-serif;">
    <p style="font-size: 16px;"><span class="first_letter_cap">“D</span>o what you can, with what you have and where you are”- was our guiding principle when we started a year ago. We didn’t wait until conditions were perfect. Instead we thought, our beginning will make our conditions perfect. We opened our first cafe in January, 2019 at Manewada Square, Nagpur– the youth and the young at heart immediately took to the cafe, and it continues to be one of the most happening places in the city. Today, LOC has over five branches across Nagpur, serving more than 10,000 visitors daily.
    <br><br>
    LOC to the people is a “hangout” spot where they meet new people, make conversations, and have a whole lot of fun over steaming cups of great tea. Our customers have made us who we are today and we're glad to be a part of their lives. We make sure everything we do is through the lens of humanity. We are devoted to support local venders and youngsters too who want to start their entrepreneurship journey. It’s been an exciting journey since then to becoming the largest organized retail café chain in the Nagpur city.
    <br><br>
    At the helm of this team, two passionate co-owners. Indeed, the partners, Shubham Dabre and Ujjwal Sahare share a true love and passion for crafting amazing tea.
    </p>
</div> -->
<!-- <div style="margin-top: 5%;">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="width:100%;">
                <div class="row">
                    <div class="col-sm-8" style="background-color: #a21b1b; padding:4%;">
                        <h2 class="card-title" id="founder_text" style="font-size: 40px; font-weight: bolder; color:white;">Meet the Founder</h2>
                        <p id="founder_text" style="font-size: 18px;">
                            Shubham, one of the masterminds behind the success of LOC, a graduate from one of the best technological institutes of Maharashtra, after working in a well-known construction firm for a couple of years soon realised and was deeply moved by the quote “ Don’t just aspire to make a living, but to make a difference”. This ignited his mind to explore and realise his strengths. In the process of mingling his skills with his thinking, he decided to make a difference by serving tea-The practical version of Amrit.
                        </p>
                        <p id="founder_text" style="font-size: 18px;">Shubham shares his partner Ujjwal’s views when it comes to describing his vision of the business:</p>
                        <p id="founder_text" style="font-size: 18px;">“It's my duty to create a warm and lively atmosphere for our customers, where quality products are served in a simple yet divine way in order to awaken their taste buds.”</p>
                        <h2 class="card-title" id="founder_text" style="font-size: 18px;">Shubham Dabre</h2>
                        <h4 id="founder_text" style="font-size: 18px;">Co Founder</h4>
                         <img src="{% static 'images/about_us/shubham.jpg' %}" class="card-img-bottom img-fluid" alt="Header Image" style="float:right; width: 70%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div style="width:100%;">
                <div class="row">
                    <div class="col-sm-8" style="background-color: #20303D; padding:4%;">
                        <h2 class="card-title" id="founder_text" style="font-size: 40px; font-weight: bolder; color:white;">Meet the Founder</h2>
                        <p id="founder_text" style="font-size: 18px;">
                            When talking to Ujjwal about the Cafe, it is obvious to see the passion he has for the tea and business. Let’s see what his vision towards LOC is, </p>
                         <p id="founder_text" style="font-size: 18px;">
                            “For a brief moment in the lives of our customers, we try to take them on a short culinary journey, where we want to awaken all their senses. This was the main idea behind our process and it is that which best defines the uniqueness of LOC.”</p>
                        <p id="founder_text" style="font-size: 18px;">
                            Ujjwal further adds, our purpose is to DELIVER MAGIC MOMENTS EVERYDAY THROUGH OUTSTANDING HOSPITALITY, DELICIOUS PRODUCTS OF BEST VALUE AND GREAT CONVENIENCE.</p>
                        <p id="founder_text" style="font-size: 18px;">
                            Come and experience the magic of LOC.
                        </p>
                        <h2 class="card-title" id="founder_text" style="font-size: 18px;">Ujjwal Sahare</h2>
                        <h4 id="founder_text" style="font-size: 18px;">Co Founder</h4>
                         <img src="{% static 'images/about_us/DSC_0198.jpg' %}" class="card-img-bottom img-fluid" alt="Header Image" style="float:right; width: 70%;">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</div> -->
<!-- <div class="container" style="font-family: 'Open Sans', sans-serif; margin-top: 10%;">
    <center><h1 style="font-size: 40px; color:black; font-weight: bolder;" id="photos">PHOTOS</h1></center>
    <div class="row">
        <div class="col-md-4">
            <p style="font-size: 20px;"><span class="first_letter_cap">G</span>et to know us and you’ll see we are so much more than what we serve. Check out some cool snaps of our LOC</p>
        </div>
        <div class="col-md-3" style="margin-top:12%;">
            <a href="#" class="meat" data-img="{% static '/images/DSC_0119.jpg' %}" >
               <img class="img-fluid image_gallery" src="{% static '/images/DSC_0119.jpg' %}" style="margin-bottom: 5%;">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
             <a href="#" class="meat" data-img="{% static '/images/about_us/03.jpg' %}" >
                <img src="{% static '/images/about_us/03.jpg' %}" style="float:right;">
            </a>
        </div>
        <div class="col-md-5" style="margin-top: 2%;">
            <a href="#" class="meat" data-img="{% static '/images/about_us/01.jpg' %}" >
                <img src="{% static '/images/about_us/01.jpg' %}" >
            </a>
        </div>
    </div>
</div> -->
<!-- <div style="margin-top: 10%; margin-bottom: 10%; margin-left:5%; margin-right:5%;">
    <div class="row">
        <div class="col-md-6">
            <h1 style="color:black; font-size: 40px; font-weight: bolder;">Journey of Garden to Cup</h1>
            <p style="font-size: 20px;">Tea leaves- It always has been and will always be about quality</p>
            <p style="font-size: 18px;"><span class="first_letter_cap">W</span>e believe that tea preparation is nothing but an Art. We take a great amount of time and efforts to finalise the tea recipes. From hygiene to the quality of tea leaves, the balance of ingredients to the amount of sugar, everything is dealt with precision and perfection. To ensure authenticity, we prepare our own chai masalas. Thus, you’ll be able to experience the same heavenly taste at any franchisee of LOC.</p>
        </div>
        <div class="col-md-6">
            <div class='product-holder'>
                <img src="{% static '/images/about_us/tea_02.jpg' %}" style="position: relative;display: block;">
                <img src="{% static '/images/about_us/tea_01.jpg' %}" height="200" style="position: absolute;
                    bottom: -20%; z-index: 2; width:70%; height:65%; right: 2%;">
            </div>
        </div>
    </div>
</div> -->
<div style="margin-top: 20%"></div>
<!-- Modal -->
<div id="meatModal" class="modal fade" tabindex="-1" role="dialog">
  <div
    class="modal-dialog modal-dialog-centered"
    style="
      width: 70%;
      height: 70%;
      margin: 0;
      padding: 0;
      max-width: none;
      margin-left: 15%;
    "
  >
    <div class="modal-content" style="border-radius: 0">
      <div class="modal-body">
        <img src="" id="meatModalImg" width="100%" />
      </div>
    </div>
  </div>
</div>
{% endblock %}
