{% extends "mobile_base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div
        class=""
        style="
          height: 300px;
          background: url('{% static 'images/photo-back.jpg' %}');
        "
      >
        <div
          style="
            height: 300px;
            background-color: #a40207;
            opacity: 0.9;
            width: 100%;
          "
        ></div>
        <div style="position: absolute; top: 40%">
          <center>
            <small
              ><p class="offset-4" style="color: white; width: 100%">
                Happiness is just a cup away from you !
              </p></small
            >
            <p
              class="offset-4"
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              BLOG
            </p>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div style="width: 100%">
        <img
          class="image-responsive"
          src="{% static 'images/blogs-photo.png' %}"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <center style="margin-bottom: 3%">
        <h1
          style="
            margin: 10% 0;
            font-size: 32px;
            color: black;
            font-weight: bold;
          "
        >
          BLOGS
        </h1>
        <center style="font-size: 16px">
          <span
            >Every Cup has a story. Grab your cup and cuddle up to your<br />
            device of choice and read some amusingly wonderful LOC <br />
            stories. Just dont't spill.</span
          >
        </center>
      </center>
    </div>
  </div>
  {% for blog_row in blogs %}
  <div class="row" style="margin-top: 2%">
    {% for blog in blog_row %}
    <div class="col-sm" style="margin-top: 3%">
      <!-- loop inside this -->
      <!--Card-->
      <div
        class="card"
        style="box-shadow: none; border-radius: 0px; width: 100%"
      >
        <a target="_blank" href="blog/{{blog.slug}}">
          <img
            src="{% static 'images/02.jpg' %}"
            class="card-img-top"
            alt="Header Image"
            style="padding: 2%"
          />
        </a>
        <div class="text-right" style="padding-right: 2%">
          {{ blog.created_at |date:"F d, Y"}}
        </div>
        <div class="card-body">
          <a
            target="_blank"
            href="blog/{{blog.slug}}"
            style="text-decoration: none; color: #1d2733"
            class="blog_heading"
          >
            {{blog.title | safe }}
          </a>
          <p class="card-text">
            {{blog.body | striptags | safe |truncatechars:30 }}
          </p>
          <center>
            <a target="_blank" href="blog/{{blog.slug}}" class="btn btn-danger"
              >Continue Reading</a
            >
          </center>
        </div>
      </div>
      <!--/.Card-->
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<!-- <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div class="" style="height:300px; background : url('{% static 'images/photo-back.jpg' %}');">
            <div style="height: 300px;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div style="position: absolute;top:40%;">
                <center>
                    <small><p class="offset-4" style="color:white;width:100%; ">Happiness is just a cup away from you !</p></small>
                <p class="offset-4" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">BLOG</p>
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div style="width:100%;">
            <img class="image-responsive" src="{% static 'images/blogs-photo.png' %}" />
        </div>
    </div>
</div> -->
<!-- <center style="margin-top: 10%; margin-bottom: 3%;">
    <h1 style="font-size: 32px; color: black; font-weight: bold;">BLOGS</h1>
    <center style="font-size: 18px;">
        <span>Every Cup has a story. Grab your cup and cuddle up to your<br>
            device of choice and read some amusingly wonderful LOC <br>
        stories. Just dont't spill.</span> 
    </center>
</center> -->

<!-- <div class="container">
	{% for blog_row in blogs %}
    <div class="row" style="margin-top:2%;">
    	{% for blog in blog_row %}
        <div class="col-sm" style="margin-top: 3%;">
            <div class="card" style="box-shadow: none; border-radius: 0px;">
			  <a target="_blank" href="blog/{{blog.slug}}">
			  	<img src="{% static 'images/02.jpg' %}" class="card-img-top" alt="Header Image" style="padding:2%;">
			  </a>
			  <div class="text-right" style="padding-right: 2%;">{{ blog.created_at |date:"F d, Y"}}</div>
			  <div class="card-body">
			    <a target="_blank" href="blog/{{blog.slug}}" style="text-decoration: none; color:#1d2733;" class="blog_heading">
			    	{{blog.title | safe }}
			    </a>
			    <p class="card-text">{{blog.body | striptags | safe |truncatechars:30  }}</p>
			    <center><a target="_blank" href="blog/{{blog.slug}}" class="btn btn-danger">Continue Reading</a></center>
			  </div>
			</div>
        </div>
       {% endfor %}

    </div>
    {% endfor %}
</div> -->
{% endblock %}
