{% extends "mobile_base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div
        class=""
        style="
          height: 300px;
          background: url('{% static 'images/photo-back.jpg' %}');
        "
      >
        <div
          style="
            height: 300px;
            background-color: #a40207;
            opacity: 0.9;
            width: 100%;
          "
        ></div>
        <div style="position: absolute; top: 40%">
          <center>
            <small
              ><p class="offset-2" style="color: white; width: 100%">
                We're all about great Tea here. Maybe you are too.
              </p></small
            >
            <p
              class="offset-2"
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              CAREERS
            </p>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div style="width: 100%">
        <img
          class="image-responsive"
          src="{% static 'images/career/01.jpg' %}"
        />
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10%; margin-bottom: 5%">
    <div class="col">
      <div style="margin-top: 10%; margin-bottom: 5%">
        <center>
          <h1 style="color: black; font-size: 40px; font-weight: bolder">
            Let's start something BIG Together
          </h1>
        </center>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 15%; width: 100%; position: absolute; height: 100%">
  <div style="background-color: #a40207; height: 5%"></div>
  <div style="background-color: #212531; height: 5%"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="items">
        <div class="card" style="border-radius: 0px; box-shadow: none">
          <div class="card-title">
            <img
              src="{% static 'images/career/Group_606.png' %}"
              alt="Header Image"
              style="float: left; padding: 2%"
            />
            <p class="blog_heading" style="margin-top: 15%">Email</p>
          </div>
          <div class="card-body text-left">
            <p>
              You would like us to send us your request in the form of email. No
              Problem!
            </p>
            <p style="color: red">info@lifeofchai.in</p>
          </div>
        </div>
        <div class="card" style="border-radius: 0px; box-shadow: none">
          <div class="card-title">
            <img
              src="{% static 'images/career/Group_608.png' %}"
              alt="Header Image"
              style="float: left; padding: 2%"
            />
            <p class="blog_heading" style="margin-top: 15%">Contact Form</p>
          </div>
          <div class="card-body text-left">
            <p>
              You would like us to send us your request in the form of email. No
              Problem!
            </p>
            <a href="/contact_us#contact_us_form">
              <p style="color: red">Fill Out Contact Us form</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 5%; margin-bottom: 5%">
    <div class="col-md-2">
      <div style="margin-top: 5%; width: 20%; height: 100%">
        <div
          style="
            background-color: #a40207;
            height: 100%;
            width: 70%;
            border-radius: 0 5px 0 5px;
            transform: skewX(-10deg);
          "
        ></div>
        <div
          style="
            background-color: #212531;
            height: 100%;
            margin-left: 30%;
            margin-top: -5%;
            transform: skewX(-10deg);
            border-radius: 0 5px 5px 5px;
          "
        ></div>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h3
          class="text-center"
          style="color: grey; font-size: 20px; margin-top: 3%; margin-left: 8%"
        >
          Vacancies at our Company
        </h3>
        <center>
          <h3 style="color: black; font-size: 40px; font-weight: bold">
            Your Chance to start your career
          </h3>
        </center>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="items" style="width: 90%">
        <div class="card" style="box-shadow: none; border-radius: 0px">
          <img
            src="{% static 'images/career/Account_Assistant.png' %}"
            class="card-img-top"
            alt="Header Image"
          />
          <div class="card-body">
            <a
              target="_blank"
              style="text-decoration: none; color: #1d2733"
              class="blog_heading"
            >
              Account Assitant
            </a>
            <p class="card-text card-text-career" id="career-1">
              We are looking for Accounts assistant to provide administrative
              support to accountants, undertaking clerical tasks such as typing,
              filing, making phone calls, handling mail and basic bookkeeping.
            </p>
            <a
              ><button class="btn" style="color: red" id="view_more_button-1">
                View More
              </button></a
            >
          </div>
        </div>
        <div class="card" style="box-shadow: none; border-radius: 0px">
          <img
            src="{% static 'images/career/Cafe_Store_Manager.jpg' %}"
            class="card-img-top"
            alt="Header Image"
          />
          <div class="card-body">
            <a
              target="_blank"
              style="text-decoration: none; color: #1d2733"
              class="blog_heading"
            >
              Cafe Store Manager
            </a>
            <p class="card-text card-text-career" id="career-2">
              We are looking for Store Manager whose responsibilities include
              scheduling shifts for staff, monitoring daily expenses and
              revenues and ordering supplies like coffee, milk and snacks, as
              needed. To be successful in this role you should have work
              experience with various roles in coffee shops.
            </p>
            <a
              ><button class="btn" style="color: red" id="view_more_button-2">
                View More
              </button></a
            >
          </div>
        </div>
        <div class="card" style="box-shadow: none; border-radius: 0px">
          <img
            src="{% static 'images/career/Digital_marketing.jpg' %}"
            class="card-img-top"
            alt="Header Image"
          />
          <div class="card-body">
            <a
              target="_blank"
              style="text-decoration: none; color: #1d2733"
              class="blog_heading"
            >
              Digital Marketing
            </a>
            <p class="card-text card-text-career" id="career-3">
              We are looking for executive assisting in the formulation of
              strategies to build a lasting digital connection with consumers.
              Planning and monitoring the ongoing company presence on social
              media.
            </p>
            <a
              ><button class="btn" style="color: red" id="view_more_button-3">
                View More
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div class="" style="height:300px; background : url('{% static 'images/photo-back.jpg' %}');">
            <div style="height: 300px;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div style="position: absolute;top:40%;">
                <center>
                    <small><p class="offset-2" style="color:white;width:100%; ">We're all about great Tea here. Maybe you are too.</p></small>
                <p class="offset-2" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">CAREERS</p>
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div style="width:100%;">
            <img class="image-responsive" src="{% static 'images/career/01.jpg' %}" />
        </div>
    </div>
</div> -->
<!-- <div class="container">
    <div style="margin-top:10%; margin-bottom: 5%;">
        <center>
            <h1 style="color:black; font-size: 40px; font-weight: bolder;">Let's start something BIG Together</h1>
        </center>
    </div>
</div> -->

<!-- <div style="margin-top: 15%; width:100%; position: absolute; height: 100%;">
        <div style="background-color: #a40207;  height: 5%;"></div>
        <div style="background-color: #212531;  height: 5%;"></div>
    </div> -->
<!-- <div class="items">
    <div class="card" style="border-radius: 0px;box-shadow: none;">
        <div class="card-title">
            <img src="{% static 'images/career/Group_606.png' %}" alt="Header Image" style="float:left; padding:2%">
            <p class="blog_heading" style="margin-top: 15%;">Email</p>
        </div>
        <div class="card-body text-left">
            <p>You would like us to send us your request in the form of email. No Problem!</p>
            <p style="color:red;">info@lifeofchai.in</p>
        </div>
    </div>
    <div class="card" style="border-radius: 0px;box-shadow: none;">
        <div class="card-title">
            <img src="{% static 'images/career/Group_608.png' %}" alt="Header Image" style="float:left; padding:2%">
            <p class="blog_heading" style="margin-top: 15%;">Contact Form</p>
        </div>
        <div class="card-body text-left">
            <p>You would like us to send us your request in the form of email. No Problem!</p>
            <a href="/contact_us#contact_us_form">
                <p style="color:red;">Fill Out Contact Us form</p>
            </a>
        </div>
    </div>
</div> -->
<!-- <div class="row" style="margin-top:5%; margin-bottom: 5%;">
    <div class="col-md-2">
        <div style="margin-top: 5%; width:20%; height: 100%;">
            <div style="background-color: #a40207;  height: 100%; width:70%; border-radius: 0 5px 0 5px; transform: skewX(-10deg);"></div>
            <div style="background-color: #212531;  height: 100%; margin-left: 30%; margin-top: -5%; transform: skewX(-10deg); border-radius: 0 5px 5px 5px;"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h3 class="text-center" style="color: grey;font-size: 20px; margin-top: 3%; margin-left: 5%;">Vacancies at our Company</h3>
            <center>
                <h3 style="color:black; font-size: 40px; font-weight: bold;">Your Chance to start your career</h3>
            </center>
        </div>
    </div>
</div> -->
<!-- <div class="container" style="margin-bottom: 5%;">
    <div class="row w-100">
        <div class="items" style="width: 100%;">
            <div class="col-md-4">
                <div class="card" style="box-shadow: none; border-radius: 0px;">
                    <img src="{% static 'images/career/Account_Assistant.png' %}" class="card-img-top" alt="Header Image">
                    <div class="card-body">
                        <a target="_blank" style="text-decoration: none; color:#1d2733;" class="blog_heading">
                            Account Assitant
                        </a>
                        <p class="card-text card-text-career" id="career-1">We are looking for Accounts assistant to provide administrative support to accountants, undertaking clerical tasks such as typing, filing, making phone calls, handling mail and basic bookkeeping.</p>
                        <a><button class="btn" style="color:red" id="view_more_button-1">View More</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="box-shadow: none; border-radius: 0px;">
                    <img src="{% static 'images/career/Cafe_Store_Manager.jpg' %}" class="card-img-top" alt="Header Image">
                    <div class="card-body">
                        <a target="_blank" style="text-decoration: none; color:#1d2733;" class="blog_heading">
                            Cafe Store Manager
                        </a>
                        <p class="card-text card-text-career" id="career-2">We are looking for Store Manager whose responsibilities include scheduling shifts for staff, monitoring daily expenses and revenues and ordering supplies like coffee, milk and snacks, as needed. To be successful in this role you should have work experience with various roles in coffee shops.</p>
                        <a><button class="btn" style="color:red" id="view_more_button-2">View More</button></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="box-shadow: none; border-radius: 0px;">
                    <img src="{% static 'images/career/Digital_marketing.jpg' %}" class="card-img-top" alt="Header Image">
                    <div class="card-body">
                        <a target="_blank" style="text-decoration: none; color:#1d2733;" class="blog_heading">
                            Digital Marketing
                        </a>
                        <p class="card-text card-text-career" id="career-3">We are looking for executive assisting in the formulation of strategies to build a lasting digital connection with consumers. Planning and monitoring the ongoing company presence on social media.</p>
                        <a><button class="btn" style="color:red" id="view_more_button-3">View More</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<script>
  $("#view_more_button-1").click(function () {
    $("#career-1").removeClass("card-text-career");
  });
  $("#view_more_button-2").click(function () {
    $("#career-2").removeClass("card-text-career");
  });
  $("#view_more_button-3").click(function () {
    $("#career-3").removeClass("card-text-career");
  });
</script>
{% endblock %}
