{% extends "mobile_base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div
        class=""
        style="
          height: 300px;
          background: url('{% static 'images/photo-back.jpg' %}');
        "
      >
        <div
          style="
            height: 300px;
            background-color: #a40207;
            opacity: 0.9;
            width: 100%;
          "
        ></div>
        <div style="position: absolute; top: 25%">
          <center>
            <small
              ><p class="offset-4" style="color: white; width: 100%">
                Let's stay in touch, connect & insprie us!
              </p></small
            >
            <p
              class="offset-4"
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              Connect
            </p>
            <p
              class="offset-4"
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              With Us
            </p>
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <center style="margin: 0 5%">
        <h1
          style="
            margin: 10% 0;
            font-size: 30px;
            color: black;
            font-weight: bold;
          "
        >
          CONTACT US
        </h1>
        <center style="font-size: 16px">
          <span
            >LOC is growing, innovative, socially conscious tea-oriented cafe,
            where everyone contributes to our success. If you'd like to join our
            dynamic group of tea fanatics, we'd love to here from you.</span
          >
          <br />
          <br />
          <span class="text-uppercase"
            >For any feedback or suggestions, please get in touch with us
            via:</span
          ><br />
          <span
            >Customer Service Mobile No: +91 7020957114 - Email:
            <span style="color: red">info@lifeofchai.in</span></span
          >
        </center>
      </center>
    </div>
  </div>
  <div class="row" style="margin-bottom: 5%; margin-top: 5%">
    <div class="col-md-6" style="background: #a21b1b">
      <div style="margin-left: 5%; margin-top: 10%; margin-bottom: 10%">
        <h1 style="color: white; font-weight: bold; font-size: 30px">
          LOC : LIFE OF CHAI
        </h1>
        <div style="margin-top: 10%; font-size: 16px">
          <div style="color: #fff">Plot no 09, Gahukar Complex,</div>
          <div style="color: #fff">Opposite to Arena Gym</div>
          <div style="color: #fff">Manewada Square</div>
          <div style="color: #fff">Nagpur, Maharashtra 440024</div>
          <div style="margin-top: 5%; color: #fff">
            Phone No :
            <span style="font-weight: bold; color: #fff">+91 7020957114</span>
          </div>
        </div>
      </div>
    </div>
    <div style="background: #20303d" class="col-md-6" id="contact_us_form">
      <form method="POST" style="padding-top: 20%; margin-bottom: 20%">
        {% csrf_token %}
        <input
          class="input_group_contact_us"
          type="text"
          placeholder="Name"
          name="name"
        />
        <br />
        <input
          class="input_group_contact_us"
          type="email"
          placeholder="Email"
          name="email"
        />
        <br />
        <input
          class="input_group_contact_us"
          type="number"
          placeholder="Phone Number"
          name="phone"
        />
        <br />
        <input
          class="input_group_contact_us"
          id="exampleFormControlTextarea1"
          placeholder="Message"
          name="msg"
        />
        <br />
        <center>
          <button
            class="btn btn-danger"
            type="submit"
            onsubmit="clearContactUsform()"
          >
            Submit
          </button>
        </center>
      </form>
    </div>
  </div>
</div>
<!-- <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div class="" style="height:300px; background : url('{% static 'images/photo-back.jpg' %}');">
            <div style="height: 300px;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div style="position: absolute;top:25%;">
                <center>
                    <small><p class="offset-4" style="color:white;width:100%; ">Let's stay in touch, connect & insprie us!</p></small>
                <p class="offset-4" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">Connect</p>
                <p class="offset-4" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">With Us</p>
                </center>
            </div>
        </div>
    </div>
</div> -->
<!-- <center style="margin-top: 10%; margin-bottom: 3%;">
    <h1 style="font-size: 30px; color: black; font-weight: bold;">CONTACT US</h1>
    <center style="font-size: 18px;">
        <span>LOC is growing, innovative, socially conscious tea-oriented cafe, where everyone <br>
            contributes to our success. If you'd like to join our dynamic group of tea fanatics, we'd love</span>
        <br>
        <br>
        <span class="text-uppercase">For any feedback or suggestions, please get in touch with us via:</span><br>
        <span>Customer Service Mobile No: +0839 0623 457 - Email: <span style="color: red;">info@lifeofchai.in</span></span>
    </center>
</center> -->
<!-- <div class="container" style="margin-bottom: 5%;margin-top: 5%; ">

    <div class="row">
        <div class="col-md-6" style="background:#a21b1b; ">
            <div style="margin-left: 5%; margin-top: 10%;margin-bottom: 10%;">
                <h1 style="color:white; font-weight: bold; font-size: 30px;">LOC : LIFE OF CHAI</h1>
                <div style="margin-top: 10%; font-size: 20px;">
                    <p style="color:#c1b4b4;opacity: 0.7;">Plot no 09, Gahukar Complex,</p>
                    <p style="color:#c1b4b4;opacity: 0.7;">Opposite to Arena Gym</p>
                    <p style="color:#c1b4b4;opacity: 0.7;">Manewada Square</p>
                    <p style="color:#c1b4b4;opacity: 0.7;">Nagpur, Maharashtra 440024</p>
                    <p style="margin-top: 5%;color:#c1b4b4;opacity: 0.7;">Phone No : 0839 0623 457</p>
                </div>
            </div>
        </div>
        <div style="background: #212531;" class="col-md-6" id="contact_us_form">
            <form method="POST" style="padding-top: 20%; margin-bottom: 20%;">
                {% csrf_token %}
                <input class="input_group_contact_us" type="text" placeholder="Name" name="name"><br>
                <input class="input_group_contact_us" type="email" placeholder="Email" name="email"><br>
                <input class="input_group_contact_us" type="number" placeholder="Phone Number" name="phone"><br>
                <input class="input_group_contact_us" id="exampleFormControlTextarea1" placeholder="Message" name="msg"></input>
                <br>
                <center>
                    <button class="btn btn-danger" type="submit" onsubmit="clearContactUsform()">Submit</button>
                </center>
            </form>
        </div>
    </div>
</div> -->
<script type="text/javascript">
  function clearContactUsform() {
    $("#contact_us_form")[0].reset();
  }
</script>
{% endblock %}
