{% extends "mobile_base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12" style="padding-right: 0; padding-left: 0">
      <div style="margin-top: 20%; margin-left: 10%; position: absolute">
        <h3 class="display-5" style="font-weight: bolder; color: white">
          BE A PART OF <br />THE FAMILY
        </h3>
      </div>
      <div style="width: 100%">
        <img
          class="image-responsive"
          src="{% static 'images/franchise/banner.jpg' %}"
          width="100%"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <h1
          style="
            color: black;
            font-size: 40px;
            width: 100%;
            text-align: center;
            margin: 10% 0;
          "
        >
          FRANCHISE
        </h1>
        <div style="font-size: 16px; margin: 0 5%">
          <div>
            <span class="first_letter_cap">W</span>e look for the one that not
            only celebrate tea but also connection At LOC, we are keen to help
            deserving youngsters who want to break into business on their own.
            Therefore, we prefer such youngsters over experienced businessman
            while allotting franchise. Many youngsters from Nagpur has joined
            with us to fulfil their entrepreneurial dream and we are proud to be
            associated with them.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="font-family: 'Open Sans', sans-serif">
    <h1
      class="display-6"
      style="
        text-align: center;
        font-weight: bold;
        color: black;
        font-size: 32px;
        width: 100%;
        margin: 10% 0;
      "
    >
      WHY CHOOSE LOC?
    </h1>
    <div class="col-sm" style="font-size: 16px; margin: 0 5%">
      <span style="color: red">LOC</span> grants you the opportunity to own your
      own business in an established organization that is growing at a
      market-beating record.
      <ul style="margin-top: 3%; padding: 20px">
        <li>Be an important link in the happiest and most loved tea family</li>
        <li>
          Grow as an individual as you create, explore & express yourself.
        </li>
      </ul>
      <div style="margin-top: 3%">
        We believe that you deserve to have fun at work!
      </div>
      <div style="margin-top: 3%">
        A franchise format provides access to four key advantages:
      </div>
      <ul style="margin-top: 3%; padding: 20px">
        <li>High brand value and marketing</li>
        <li>Excellent products & services</li>
        <li>Business support network</li>
        <li>Market beating growth and win-win gains</li>
      </ul>
    </div>
    <div class="col-sm">
      <img
        src="{% static '/images/franchise/cup_loc_mix.png'%}"
        alt="Avatar"
        class="image"
      />
    </div>
  </div>
  <div
    class="row"
    style="
      margin-bottom: 5%;
      font-family: 'Open Sans', sans-serif;
      margin-top: 10%;
    "
  >
    <h1
      class="display-5"
      style="
        font-weight: bold;
        color: black;
        font-size: 32px;
        width: 100%;
        text-align: center;
        margin: 0 0 10% 0;
      "
    >
      THE LOC JOURNEY
    </h1>
    <div class="col-sm">
      <img
        src="{% static '/images/franchise/group_589.png'%}"
        alt="Avatar"
        class="image"
      />
    </div>
    <div class="col-sm" style="font-size: 16px">
      <div style="margin-left: 5%; margin-top: 5%; margin-right: 5%">
        <div>LOC will provide its support with regard to the following;</div>
        <div style="margin-top: 5%">
          <div>
            <h3 style="color: #b41e23">Initial Setup</h3>
          </div>
          <div style="margin-top: 4%">
            Site selection, store design & setup, vendor selection and guidance
            in hiring process.
          </div>
          <div style="color: #b41e23; margin-top: 4%">
            <h3 style="color: #b41e23">Training</h3>
          </div>
          <div style="margin-top: 4%">
            Training for the day to day operations team that will operate the
            store & kitchen.
          </div>
          <div style="color: #b41e23; margin-top: 4%">
            <h3 style="color: #b41e23">Management</h3>
          </div>
          <div style="margin-top: 4%">
            LOC will be responsible for initial selecting, hiring and training
            the operation team for your store. As a franchisee, you will be
            relieved from the hassle of operating the café and LOC will be
            managing digital marketing, supply chain, & quality assurance.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 5%">
    <div class="col-md-6" style="background: #a21b1b">
      <div style="margin-left: 5%; margin-top: 15%">
        <h4 style="color: white">
          WHAT DOES IT TAKE TO BE A SUCCESSFULL LOC FRANCHISE PARTNER?
        </h4>
        <p style="color: #c1b4b4; margin-top: 5%; font-size: 20px">
          If you are:
        </p>
        <ul style="color: #c1b4b4">
          <li style="color: #c1b4b4">
            Enthusiastic, ambitious, & passionate about coffee
          </li>
          <li style="color: #c1b4b4">Have the financial capacity to invest</li>
          <li style="color: #c1b4b4">Believe in LOC’s story & mission</li>
          <li style="color: #c1b4b4">
            Have the attitude for success and win-win
          </li>
        </ul>
        <p style="color: #c1b4b4; margin-top: 5%; font-size: 20px">
          Then you definitely can be a part of our future
        </p>
        <p style="color: #c1b4b4; margin-top: 5%; font-size: 20px">
          Kindly complete the Franchisee Application Form. We will contact you
          to clear up any missing information, ask further questions & arrange
          for a meeting.
        </p>
      </div>
    </div>
    <div style="background: #20303d" class="col-md-6">
      <form
        method="POST"
        style="padding-top: 25%; margin-bottom: 20%"
        id="franchise_Form"
      >
        {% csrf_token %}
        <input
          class="input_group_contact_us"
          type="text"
          placeholder="Name"
          name="name"
        /><br />
        <input
          class="input_group_contact_us"
          type="email"
          placeholder="Email"
          name="email"
        /><br />
        <input
          class="input_group_contact_us"
          type="number"
          placeholder="WhatsApp Number"
          name="phone"
        /><br />
        <input
          class="input_group_contact_us"
          id="exampleFormControlTextarea1"
          placeholder="Message"
          name="msg"
        />
        <br />
        <center>
          <button
            class="btn btn-danger"
            type="submit"
            onsubmit="submitFranchiseForm()"
          >
            Submit
          </button>
        </center>
      </form>
      <center style="margin-bottom: 10%">
        <a
          id="download_brochure_link"
          href="{% static 'LOC_Final_Brochure.pdf' %}"
          target="_blank"
          download="LOC_Final_Brochure.pdf"
          ><button class="btn btn-success">Download Brochure</button></a
        >
      </center>
    </div>
  </div>
</div>
<!-- <div class="row">
    <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
        <div style="margin-top: 20%; margin-left: 10%; position: absolute;">
            <h3 class="display-5" style="font-weight: bolder;color: white;">BE A PART OF <br>THE FAMILY</h3>
        </div>
        <div style="width:100%;">
            <img class="image-responsive" src="{% static 'images/franchise/banner.jpg' %}" width="100%" />
        </div>
    </div>
</div> -->
<!-- <div style="margin-top: 5%; margin-bottom: 3%;">
    <h1 style="color:black;font-size: 40px;" class="offset-3">FRANCHISE</h1>
    <div style="margin-left:10%;font-size:18px; margin-right: 5%;">
        <div><span class="first_letter_cap">W</span>e look for the one that not only celebrate tea but also connection
        At LOC, we are keen to help deserving youngsters who want to break into business on
        their own. Therefore, we prefer such youngsters over experienced businessman while 
        allotting franchise. Many youngsters from Nagpur has joined with us to fulfil their
        entrepreneurial dream and we are proud to be associated with them.</div>
    </div>
</div> -->
<!-- <div class="container" style="margin-bottom: 5%;font-family: 'Open Sans', sans-serif; margin-top: 10%;">
    <h1 class="display-6" style="padding-left:10%; font-weight: bold; color:black; font-size: 32px;">WHY CHOOSE LOC?</h1>
    <div class="row">
        <div class="col-sm" style="font-size:18px;">
            <div style="margin-left: 5%; margin-top: 5%;">
                <div><span style="color:red;">LOC</span> grants you the opportunity to own your own business in an established organization that is growing at a market-beating record.</div>
                <ul style="margin-top:3%; padding: 20px;">
                    <li>Be an important link in the happiest and most loved tea family</li>
                    <li>Grow as an individual as you create, explore & express yourself.</li>
                </ul>
                <div style="margin-top:3%;">
                    We believe that you deserve to have fun at work!
                </div>
                <div style="margin-top:3%;">
                    A franchise format provides access to four key advantages:
                </div>
                <ul style="margin-top:3%;padding: 20px;">
                    <li>High brand value and marketing</li>
                    <li>Excellent products & services</li>
                    <li>Business support network</li>
                    <li>Market beating growth and win-win gains</li>
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <img src="{% static '/images/franchise/cup_loc_mix.png'%}" alt="Avatar" class="image">
        </div>
    </div>
</div> -->
<!-- <div class="container" style="margin-bottom: 5%;font-family: 'Open Sans', sans-serif; margin-top: 10%;">
    <h1 class="display-5" style="font-weight: bold; color: black; font-size: 32px;">THE LOC JOURNEY</h1>
    <div class="row" style="margin-top: 5%;">
        <div class="col-sm">
            <img src="{% static '/images/franchise/group_589.png'%}" alt="Avatar" class="image">
        </div>
        <div class="col-sm" style="font-size: 18px;">
            <div style="margin-left: 5%; margin-top: 5%;">
                <div>LOC will provide its support with regard to the following;</div>
                <div style="margin-top: 5%;">
                    <div>
                        <h3 style="color:red;">Initial Setup</h3>
                    </div>
                    <div style="margin-top:4%;">Site selection, store design & setup, vendor selection and guidance in hiring process.</div>
                    <div style="color:red; margin-top: 4%;">
                        <h3 style="color:red;">Training</h3>
                    </div>
                    <div style="margin-top:4%;">Training for the day to day operations team that will operate the store & kitchen.</div>
                    <div style="color:red; margin-top: 4%;">
                        <h3 style="color:red;">Management</h3>
                    </div>
                    <div style="margin-top:4%;">LOC will be responsible for initial selecting, hiring and training the operation team for your store. As a franchisee, you will be relieved from the hassle of operating the café and LOC will be managing digital marketing, supply chain, & quality assurance.</div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="container" style="margin-bottom: 5%;">
    <div class="row">
        <div class="col-md-6" style="background:#a21b1b; ">
            <div style="margin-left: 5%; margin-top: 15%;">
                <h4 style="color:white;">WHAT DOES IT TAKE TO BE A SUCCESSFULL LOC  FRANCHISE PARTNER?</h4>
                <p style="color:#c1b4b4; margin-top: 5%; font-size: 20px;">If you are:</p>
                <ul style="color:#c1b4b4;">
                    <li style="color:#c1b4b4;">Enthusiastic, ambitious, & passionate about coffee</li>
                    <li style="color:#c1b4b4;">Have the financial capacity to invest</li>
                    <li style="color:#c1b4b4;">Believe in LOC’s story & mission</li>
                    <li style="color:#c1b4b4;">Have the attitude for success and win-win</li>
                </ul>
                <p style="color:#c1b4b4; margin-top: 5%; font-size: 20px;">Then you definitely can be a part of our future</p>
                <p style="color:#c1b4b4; margin-top: 5%; font-size: 20px;">Kindly complete the Franchisee Application Form.
We will contact you to clear up any missing information, ask further questions & arrange for a meeting.</p>
            </div>
        </div>
        <div style="background: #212531;" class="col-md-6">
            <form method="POST" style="padding-top: 25%; margin-bottom: 20%;" id="franchise_Form">
                {% csrf_token %}
                <input class="input_group_contact_us" type="text" placeholder="Name" name="name"><br>
                <input class="input_group_contact_us" type="email" placeholder="Email" name="email"><br>
                <input class="input_group_contact_us" type="number" placeholder="Phone Number" name="phone"><br>
                <input class="input_group_contact_us" id="exampleFormControlTextarea1" placeholder="Message" name="msg"></input>
                <br>
                <center>
                    <button class="btn btn-danger" type="submit" onsubmit="submitFranchiseForm()">Submit</button>
                </center>
            </form>
            <center style="margin-bottom: 10%;">
            <a id="download_brochure_link" href="{% static 'LOC_Final_Brochure.pdf' %}" target="_blank" download="LOC_Final_Brochure.pdf"><button class="btn btn-success">Download Brochure</button></a>
        </center>
        </div>
    </div>
</div> -->
<script type="text/javascript">
  function submitFranchiseForm() {
    $("#franchise_Form")[0].reset();
    $("#download_brochure_link").show();
  }
</script>
{% endblock %}
