{% extends "mobile_base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div
        class=""
        style="
          height: 300px;
          background: url('{% static 'images/photo-back.jpg' %}');
        "
      >
        <div
          style="
            height: 300px;
            background-color: #a40207;
            opacity: 0.9;
            width: 100%;
          "
        ></div>
        <div style="position: absolute; top: 30%">
          <center>
            <small>
              <p class="offset-4" style="color: white; width: 100%">
                Happiness is just a cup away from you !
              </p>
            </small>
            <p
              class="offset-4"
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              SOCIAL MEDIA
            </p>
          </center>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <iframe
        src="https://www.youtube.com/embed/eBivpU6EbEo"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        style="width: 100%"
      ></iframe>
      <div
        class="card media_card"
        style="background: #20303d; width: 100%; margin-top: -3%; height: 100%"
      >
        <div class="card-body">
          <p
            class="card-text"
            style="color: white; font-size: 15px; opacity: 0.7"
          >
            <b>
              <i style="color: white"
                >“A brand is no longer what we tell the customer it is - it is
                what customers tell each other it is.”</i
              >
            </b>
            <br /><br />
            When the journey of LOC has started back in January 2019 and till
            now after completing 2 successful years, it got featured into
            various media platforms like Lokmat Paper, Tomato FM & various city
            blog. But the thing that really had made a great difference was the
            good word mouth to mouth publicity and feedbacks which our customers
            have shared with each other. Thus, within a short span of time, LOC
            gained so much popularity.
            <br /><br />
            People get drifted towards LOC not just because we were selling the
            best tea in town but also because we were selling an idea - that how
            two engineers left their jobs and choose a path of entrepreneurship
            by serving tea.
            <br /><br />
            LOC has brought newness in the field of cafes as it was the first
            café which was completely chai-based and made people realize that
            they can have Tea in such a great ambience and as they say –
            <br />
            <b>
              <i style="color: white"
                >“People do not buy goods and services, they buy relations,
                stories and magic. And here at LOC we just try to make the magic
                happen.”
              </i>
            </b>
            <br /><br />
            Now, Nagpurkar have got a new destination for their favorite tea as
            we go along serving happiness right in their cups.
          </p>
          <hr style="background: #bcc0c4; opacity: 0.7" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div class="media_card_red_back">
        <img
          class="card-img-top"
          src="{% static 'images/social_media/Media_Page_Bottom_Image.png' %}"
          alt="Card image cap"
        />
        <p
          class="card-text"
          style="color: white; padding-left: 3%; opacity: 0.7"
        >
          March 14, 2019<br />
          Lokmat Oxygen<br /><br />
          <b><i style="color: white">Apna time aayega !</i></b
          ><br /><br />
          Life of Chai - When an engineer chose his dream !
          <br /><br />
          LOC got featured in Lokmat Oxygen magazine where they have covered the
          young entrepreneurs from Maharashtra who are an inspiration for youths
          out there who wants to purse their dream. It also made them believe
          that no idea or plan is small or big, it's all about how you make it
          happen and the belief you have in yourself.
          <br /><br />
          Do click on the link given below to know more.
          <br /><br />
          <a
            href="http://epaper.lokmat.com/special-supplements/Oxygen/2019-03-14/3"
            class="card-link btn btn-success"
            style="color: white"
            >News link</a
          >
          <br /><br />
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="padding-right: 0; padding-left: 0">
      <img
        class="image-responsive"
        src="{% static 'images/social_media/Group_625.png' %}"
        width="100%"
      />
      <div style="width: 25%; top: 75%; position: absolute">
        <a href="https://www.facebook.com/LocLifeOfChai"
          ><img
            class="image-responsive"
            src="{% static 'images/social_media/Group_664.png' %}"
        /></a>
      </div>
      <div style="width: 25%; top: 75%; position: absolute; margin-left: 25%">
        <a href="https://www.instagram.com/loc_lifeofchai/"
          ><img
            class="image-responsive"
            src="{% static 'images/social_media/Group_665.png' %}"
        /></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="items" style="width: 90%">
        <div class="row">
          <div class="col-sm padding-0">
            <a
              href="https://www.facebook.com/lokmat/videos/264438794491554/"
              target="_blank"
              ><img
                class="image-responsive"
                src="{% static 'images/social_media/lokmat_video_fb_image.jpg' %}"
              />
            </a>
          </div>
          <div
            class="col-sm padding-0"
            style="border: 0px; border-radius: 0px; color: black"
          >
            <div
              class="card-title product_image_box vertical-center"
              style="color: black"
            >
              <p class="card-text justify-content-center align-self-center">
                Listen to the inspiring story of LOC by the Co-founders,
                broadcasted on Lokmat FB page.
              </p>
              <a href="#" class="card-link">March 15, 2019</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm padding-0">
            <iframe
              src="https://www.youtube.com/embed/PECE0kdlBTk"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              style="height: 300px; width: 100%"
            ></iframe>
          </div>
          <div
            class="col-sm padding-0"
            style="border: 0px; border-radius: 0px; color: black"
          >
            <div
              class="card-title product_image_box vertical-center"
              style="color: black"
            >
              <p class="card-text">Nagpur ka LOC Vlog by Nagpurkar Bean</p>
              <a href="#" class="card-link">September 6, 2020</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm padding-0">
            <a
              href="https://www.facebook.com/94.3TomatoFM/photos/a.1903314286648700/2292671181046340/"
              target="_blank"
              ><img
                class="image-responsive"
                src="https://scontent.fpnq14-1.fna.fbcdn.net/v/t1.0-9/60678913_2292671187713006_5831723774377984000_o.jpg?_nc_cat=100&ccb=2&_nc_sid=8bfeb9&_nc_ohc=GWfC_ybKpf0AX-MqBtU&_nc_oc=AQn8RFChqowUIbJADPaQm7rryFDjCqxPzzVlfJXWvJEH3YPZso-H715OKcKHrMHLrgc&_nc_ht=scontent.fpnq14-1.fna&oh=02982670316c2b7e19c46d7d917ebd46&oe=602A37D5"
              />
            </a>
          </div>
          <div
            class="col-sm padding-0"
            style="border: 0px; border-radius: 0px; color: black"
          >
            <div
              class="card-title product_image_box vertical-center"
              style="color: black"
            >
              <p class="card-text">
                94.3 Tomato FM, In conversation with the Co-founder of LOC in
                the show "Chal Satak Yaar"
                <br />
                <i>Yaha hogi ziddi dilo ki kahaniya.</i>
              </p>
              <a href="#" class="card-link">May 22, 2019</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm padding-0">
            <a
              href="http://epaper.lokmat.com/special-supplements/Oxygen/2019-03-14/3"
              target="_blank"
              ><img
                class="image-responsive"
                src="{% static 'images/social_media/no_4.jpg' %}"
              />
            </a>
          </div>
          <div
            class="col-sm padding-0"
            style="border: 0px; border-radius: 0px; color: black"
          >
            <div
              class="card-title product_image_box vertical-center"
              style="color: black"
            >
              <p class="card-text">
                Social Initiatives by LOC<br />
                Chai Partner for the 'No Difference Foundation & Help for Good'
                NGO for various social work.
              </p>
              <a href="#" class="card-link">January 10, 2020</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div class="" style="height:300px; background : url('{% static 'images/photo-back.jpg' %}');">
            <div style="height: 300px;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div style="position: absolute;top:30%;">
                <center>
                    <small>
                        <p class="offset-4" style="color:white;width:100%; ">Happiness is just a cup away from you !</p>
                    </small>
                    <p class="offset-4" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">SOCIAL MEDIA</p>
                </center>
            </div>
        </div>
    </div>
</div> -->
<!-- <div style="margin-bottom: 10%;">
    <div class="row">
        <div class="col-md-6">
            <iframe src="https://www.youtube.com/embed/eBivpU6EbEo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%; height: 30%;"></iframe>
            <div class="card media_card" style="background: #20303D; width: 100%; margin-top: -3%; height: 100%;">
                <div class="card-body">
                    <p class="card-text" style="color:white;font-size: 15px; opacity: 0.7;">
                        <b><i style="color:white;">“A brand is no longer what we tell the customer it is - it is what customers tell each other it is.”</i></b><br><br>
                        When the journey of LOC has started back in January 2019 and till now after completing 2 successful years, it got featured into various media platforms like Lokmat Paper, Tomato FM & various city blog. But the thing that really had made a great difference was the good word mouth to mouth publicity and feedbacks which our customers have shared with each other. Thus, within a short span of time, LOC gained so much popularity.
                        <br><br>
                        People get drifted towards LOC not just because we were selling the best tea in town but also because we were selling an idea - that how two engineers left their jobs and choose a path of entrepreneurship by serving tea.
                        <br><br>
                        LOC has brought newness in the field of cafes as it was the first café which was completely chai-based and made people realize that they can have Tea in such a great ambience and as they say –
                        <br></br>
                        <b><i style="color:white;">“People do not buy goods and services, they buy relations, stories and magic. And here at LOC we just try to make the magic happen.”</i></b>
                        <br><br>
                        Now, Nagpurkar have got a new destination for their favorite tea as we go along serving happiness right in their cups.
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="media_card_red_back" style="width: 100%;">
                <img class="card-img-top" src="{% static 'images/social_media/Media_Page_Bottom_Image.png' %}" alt="Card image cap">
                <p class="card-text" style="color:white; padding-left: 3%;opacity: 0.7;">
                    March 14, 2019<br>
                    Lokmat Oxygen<br><br>
                    <b><i style="color:white;">Apna time aayega !</i></b><br><br>
                    Life of Chai - When an engineer chose his dream !
                    <br><br>
                    LOC got featured in Lokmat Oxygen magazine where they have covered the young entrepreneurs from Maharashtra who are an inspiration for youths out there who wants to purse their dream. It also made them believe that no idea or plan is small or big, it's all about how you make it happen and the belief you have in yourself.
                    <br><br>
                    Do click on the link given below to know more.
                    <br><br>
                    <a href="http://epaper.lokmat.com/special-supplements/Oxygen/2019-03-14/3" class="card-link btn btn-success" style="color:white;">News link</a>
                    <br><br>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <img class="image-responsive" src="{% static 'images/social_media/Group_625.png' %}" width="100%" />
        <div style="width:25%;margin-top: 72%;position: absolute;">
            <a href="https://www.facebook.com/LocLifeOfChai"><img class="image-responsive" src="{% static 'images/social_media/Group_664.png' %}" /></a>
        </div>
        <div style="width:25%;margin-top: 72%;position: absolute;margin-left: 25%;">
            <a href="https://www.instagram.com/loc_lifeofchai/"><img class="image-responsive" src="{% static 'images/social_media/Group_665.png' %}" /></a>
        </div>
    </div>
    <div class="row">
        <div class="items" style="width: 100%;">
            <div class="row row-flex">
                <div class="col-sm padding-0">
                    <a href="https://www.facebook.com/lokmat/videos/264438794491554/" target="_blank"><img class="image-responsive" src="{% static 'images/social_media/lokmat_video_fb_image.jpg' %}" />
                    </a>
                </div>
                <div class="col-sm padding-0" style="border: 0px; border-radius: 0px; color:black;">
                    <div class="card-title product_image_box vertical-center" style="color: black;">
                        <p class="card-text justify-content-center align-self-center">Listen to the inspiring story of LOC by the Co-founders, broadcasted on Lokmat FB page. </p>
                        <a href="#" class="card-link">March 15, 2019</a>
                    </div>
                </div>
            </div>
            <div class="row row-flex">
                <div class="col-sm padding-0">
                    <iframe src="https://www.youtube.com/embed/PECE0kdlBTk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="height:300px;width:100%;"></iframe>
                </div>
                <div class="col-sm padding-0" style="border: 0px; border-radius: 0px; color:black;">
                    <div class="card-title product_image_box vertical-center" style="color: black;">
                        <p class="card-text">Nagpur ka LOC
                            Vlog by Nagpurkar Bean</p>
                        <a href="#" class="card-link">September 6, 2020</a>
                    </div>
                </div>
            </div>
            <div class="row row-flex">
                <div class="col-sm padding-0">
                    <a href="https://www.facebook.com/94.3TomatoFM/photos/a.1903314286648700/2292671181046340/" target="_blank"><img class="image-responsive" src="https://scontent.fpnq14-1.fna.fbcdn.net/v/t1.0-9/60678913_2292671187713006_5831723774377984000_o.jpg?_nc_cat=100&ccb=2&_nc_sid=8bfeb9&_nc_ohc=GWfC_ybKpf0AX-MqBtU&_nc_oc=AQn8RFChqowUIbJADPaQm7rryFDjCqxPzzVlfJXWvJEH3YPZso-H715OKcKHrMHLrgc&_nc_ht=scontent.fpnq14-1.fna&oh=02982670316c2b7e19c46d7d917ebd46&oe=602A37D5" />
                        </a>
                </div>
                <div class="col-sm padding-0" style="border: 0px; border-radius: 0px; color:black;">
                    <div class="card-title product_image_box vertical-center" style="color: black;">
                        <p class="card-text">94.3 Tomato FM, In conversation with the Co-founder of LOC in the show "Chal Satak Yaar"
                            <br>
                            <i>Yaha hogi ziddi dilo ki kahaniya.</i></p>
                        <a href="#" class="card-link">May 22, 2019</a>
                    </div>
                </div>
            </div>
            <div class="row row-flex">
                <div class="col-sm padding-0">
                    <a href="http://epaper.lokmat.com/special-supplements/Oxygen/2019-03-14/3" target="_blank"><img class="image-responsive" src="{% static 'images/social_media/no_4.jpg' %}" />
                        </a>
                </div>
                <div class="col-sm padding-0" style="border: 0px; border-radius: 0px; color:black;">
                    <div class="card-title product_image_box vertical-center" style="color: black;">
                        <p class="card-text">Social Initiatives by LOC<br>
                            Chai Partner for the 'No Difference Foundation & Help for Good' NGO for various social work.</p>
                        <a href="#" class="card-link">January 10, 2020</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}
