{% extends "mobile_base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div
        style="
          height: 400px;
          background: url('{% static 'images/photo-back.jpg' %}');
        "
      >
        <div
          style="
            height: 400px;
            background-color: #a40207;
            opacity: 0.9;
            width: 100%;
          "
        ></div>
        <div style="position: absolute; top: 30%; width: 100%">
          <center>
            <small>
              <p style="color: white; width: 100%">
                Happiness is just a cup away from you !
              </p>
            </small>
            <p
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              Nagpur's Favourite
            </p>
            <p
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              Chai Point
            </p>
            <a href="/products#product_page">
              <button
                id="div_4_button_mobile"
                type="button"
                class="btn btn-outline-secondary"
              >
                View Best Tea
              </button>
            </a>
          </center>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div style="width: 100%">
        <img class="image-responsive" src="{% static 'images/02.jpg' %}" />
      </div>
    </div>
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div
        style="
          color: black;
          height: 100%;
          background-color: white;
          padding-left: 5%;
          padding-right: 5%;
        "
      >
        <div style="margin: 10% 0 10% 0">
          <h1
            class="display-4 text-center"
            style="font-weight: bolder; color: black; font-size: 40px"
          >
            LIFE OF CHAI
          </h1>
          <p
            class="text-center"
            style="font-size: 18px; font-weight: lighter; color: #574d4d"
          >
            Happiness right in your cup !
          </p>
        </div>
        <p>
          <span class="first_letter_cap">L</span
          ><span
            style="font-size: 16px; font-weight: lighter; line-height: 32px"
            >ocated in the heart of the Nagpur city, LOC is a bright, airy space
            and has become Nagpur’s favourite hangout for tea. It’s a break from
            the outside world;<br /><br />
            A place where you don’t just appreciate chai but conversations and
            connections too. Being with the first outlet setup in Manewada
            square, LOC has rapidly grown; Today, LOC has over 8 branches
            across Nagpur and other cities, serving more than 7,500 cups of happiness daily and
            is set to win over not only Maharashtra, but entire India.
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" style="padding-right: 5%; padding-left: 5%">
      <div id="row">
        <h1
          class="display-4 text-center"
          style="
            margin: 10% 0 10% 0;
            font-weight: bolder;
            color: black;
            font-size: 40px;
          "
        >
          Featured dishes that people Like
        </h1>
        <span class="first_letter_cap">W</span
        ><span style="font-size: 16px; font-weight: lighter; line-height: 32px"
          >e're passionate about tea and great food to enjoy with. There are so
          many bite-small snacks that perfectly complement a cup of our
          chai.</span
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="items" style="width: 90%">
        <div>
          <img
            src="{% static '/images/Adrak_Chai.jpg'%}"
            alt="Avatar"
            class="image"
            height="100%"
          />
        </div>
        <div>
          <img
            src="{% static '/images/Cold_Coffee.jpg'%}"
            alt="Avatar"
            class="image"
          />
        </div>
        <div>
          <img src="{% static '/images/LOC_Special_Maggi.jpg'%}" alt="Avatar" class="image" />
        </div>
        <div>
          <img
            src="{% static '/images/Silk_Blend_Coffee.jpg'%}"
            alt="Avatar"
            class="image"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-left: 5%; padding-top: 10%">
    <div class="col-md-6">
      <div style="width: 100%">
        <img src="{% static 'images/Group_706.jpg' %}" />
      </div>
    </div>
    <div class="col-md-6">
      <div style="width: 100%; margin-top: 2%">
        <img src="{% static 'images/Group_660.png' %}" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div style="margin: 10% 0 10% 0">
        <center style="font-size: 20px">TESTIMONIALS</center>
        <center style="font-size: 40px; color: black; font-weight: bolder">
          They Love Us.
        </center>
      </div>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
        style="padding: 0 5%"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card w-100 align-middle">
              <div
                class="card-body reviews_background_mobile"
                style="background-color: #20303d"
              >
                <div class="template-demo">
                  <p style="color: white; opacity: 0.7">
                    The best way to bring yourself out from the exhaustion of
                    whole day is to bring yourself to LOC! Life of Chai.. Where
                    they spread an essence of
                    <b style="color: white">Maa Ka Dular</b> into a cup of Tea.
                    It has refreshing varieties of Tea, Coffee and Shakes
                    maintaining the same quality and taste every time. The newly
                    introduced dishes add more
                    <b style="color: white">Chaar Chaand</b> to it. This is
                    place where things seems to be emerging good vibes of
                    enthusiasm and passion!
                  </p>
                  <h4 class="cust-name" style="color: white">
                    Apurva Wankhade
                  </h4>
                  <p class="cust-profession" style="color: white">
                    Social Worker
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card w-100 align-middle">
              <div
                class="card-body reviews_background_mobile"
                style="background-color: #b41e23"
              >
                <div class="template-demo">
                  <p style="color: white; opacity: 0.7">
                    LOC is an amazing place to hang out with your loved ones.
                    The ambience & friendly service provided by owner and
                    employees makes you feel like home. Also the shop scores
                    well in cleanliness and hygiene as compared to other brands.
                    Regarding Chai ,it's like the more you drink it the more you
                    love it .
                  </p>
                  <h4 class="cust-name" style="color: white">Pankaj Kale</h4>
                  <p class="cust-profession" style="color: white">
                    Civil Engineer
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card w-100 align-middle">
              <div
                class="card-body reviews_background_mobile"
                style="background-color: #20303d"
              >
                <div class="template-demo">
                  <p style="color: white; opacity: 0.7">
                    LOC is heaven for people having Love for Chai. I was a chai
                    addict year ago, but since then I started my weight loss
                    journey I had to quit it & finally after one and half year
                    of fast, the aroma of this tea forced me to try that out.
                  </p>
                  <p style="color: white; opacity: 0.7">
                    Amazing!! was the word which came out from mouth after the
                    first sip.
                  </p>
                  <h4 class="cust-name" style="color: white">Shoeb Meman</h4>
                  <p class="cust-profession" style="color: white">
                    Food Blogger & Social Worker
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card w-100 align-middle">
              <div
                class="card-body reviews_background_mobile"
                style="background-color: #b41e23"
              >
                <div class="template-demo">
                  <p style="color: white; opacity: 0.7">
                    Kudos to the founders of LOC for coming up with this concept
                    of tea cafe. With every sip of tea here at LOC , I literally
                    feel that it's not only about ingredients that makes it
                    special but the unique ambiance and vibrations of the place
                    matures the tea to its zenith. With whatever mood you may
                    come here, one thing is guaranteed- you will be leaving it
                    satisfied and refreshed.
                  </p>
                  <h4 class="cust-name" style="color: white">Kartik Patel</h4>
                  <p class="cust-profession" style="color: white">
                    Civil Engineer
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="padding-right: 0; padding-left: 0">
      <center
        style="
          margin: 10% 0 10% 0;
          font-size: 40px;
          color: black;
          font-weight: bold;
        "
      >
        Let's Talk
      </center>
      <p style="font-size: 16px; margin-left: 5%; margin-right: 5%">
        <span class="first_letter_cap">W</span>e would love to hear from you,
        and there's lots of ways to reach out and stay connected.
      </p>
      <p style="font-size: 16px; margin-left: 5%; margin-right: 5%">
        Now, go grap a cup of tea, and let's get to know each other.
      </p>
      <div class="contact_container mt-xl-5 mb-5">
        <div class="d-flex flex-row justify-content-center">
          <form class="col-md-8" method="POST">
            <div class="container">
              <div class="row">
                <div class="col-md-6" style="padding-right: 0; padding-left: 0">
                  <div class="form-group">
                    <input
                      class="form-control loc-input"
                      id="name"
                      type="text"
                      required
                      placeholder="Your Name"
                      name="name"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control loc-input"
                      id="email"
                      type="email"
                      required
                      placeholder="Your Email"
                      name="email"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control loc-input"
                      id="phone_number"
                      type="tel"
                      required
                      placeholder="Your Phone"
                      name="phone_number"
                    />
                  </div>
                </div>
                <div class="col-md-6" style="padding-right: 0; padding-left: 0">
                  <div class="form-group">
                    <textarea
                      name="msg"
                      id="msg"
                      cols="10"
                      rows="6"
                      class="form-control loc-input"
                      placeholder="Your Message"
                      style="height: 150px"
                    ></textarea>
                  </div>
                </div>
                <div
                  class="d-flex flex-row justify-content-center w-100"
                  style="margin-top: 2%"
                >
                  <input
                    type="button"
                    value="Send Message"
                    class="contact_button"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row w-100">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div class="" style="height:400px; background : url('{% static 'images/photo-back.jpg' %}');">
            <div style="height: 400px;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div style="position: absolute;top:30%;">
                <center>
                <small><p class="offset-3" style="color:white;width:100%; ">Happiness is just a cup away from you !</p></small>
                <p class="offset-3" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">Nagpur's Favourite</p>
                <p class="offset-3" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">Chai Point</p>
                <a href="/products#product_page" class="offset-4"><button id="div_4_button" type="button" class="btn btn-outline-secondary">View Best Tea</button></a>
            </center>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="row w-100" style="margin-top: 2%;">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div style="width:100%;">
            <img class="image-responsive" src="{% static 'images/02.jpg' %}" />
        </div>
    </div>
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div style="color:black; height:100%; background-color: white; padding-left: 5%;">
            <div class="container">
            <h1 class="display-4 offset-1" style="font-weight: bolder;color:black; font-size: 40px; margin-top:5%;">LIFE OF CHAI</h1>
                <p class="offset-1" style="font-size:20px; font-weight: lighter; color:#574d4d;">Happiness right in your cup !</p>
                <p><span class="first_letter_cap">L</span><span style="font-size:18px; font-weight: lighter;">ocated in the heart of the Nagpur city, LOC is a bright, airy space and has become Nagpur’s favourite hangout for tea. It’s a break from the outside world;<br><br>
                        A place where you don’t just appreciate chai but conversations and connections too. Being with the first outlet setup in Manewada square, LOC has rapidly grown; Today, LOC has over five branches across Nagpur, serving more than 7,500 cups of happiness daily and is set to win over not only Maharashtra, but entire India.
                    </span></p>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="w-100">
    <div class="col-md-6" style="padding-left: 5%; padding-top: 3%;">
        <div id="row">
            <h1 class="display-4" style="font-weight: bolder;color:black; font-size: 44px; margin-bottom: 2%;">Featured dishes that people Like</h1>
            <span class="first_letter_cap">W</span><span style="font-size:20px; font-weight: lighter;">e're passionate about tea and great food to enjoy with. There are so many bite-small snacks that perfectly complement a cup of our chai.</span>
        </div>
    </div>
</div> -->
<!-- <div class="items" style="width:100%;">
    <div>
        <img src="{% static '/images/04.jpg'%}" alt="Avatar" class="image" height="100%">
    </div>
    <div>
         <img src="{% static '/images/Cold_Coffee.jpg'%}" alt="Avatar" class="image">
    </div>
    <div>
        <img src="{% static '/images/03.jpg'%}" alt="Avatar" class="image">
    </div>
    <div>
        <img src="{% static '/images/Silk_Blend_Coffee.jpg'%}" alt="Avatar" class="image">
    </div>
</div> -->

<!-- <div class="row w-100" style="padding-left:5%; padding-top:10%;">
    <div class="col-md-6">
        <div style="width:100%;">
            <img src="{% static 'images/Group_706.jpg' %}"/>
        </div>
    </div>
    <div class="col-md-6">
        <div style="width:100%; margin-top: 2%;">
            <img src="{% static 'images/Group_660.png' %}"/>
        </div>
    </div>
</div> -->
<!-- <div class="w-100">
    <center style="font-size: 20px; margin-top: 10%;">TESTIMONIALS</center>
    <center style="font-size:44px; color:black; font-weight: bolder;">They Love Us.</center>
    <div class="items" style="width: 100%;">
        <div class="card">
            <div class="card-body reviews_background_mobile" style="background-color: #20303D;">
                <div class="template-demo">
                    <p style="color:white;opacity: 0.7;">The best way to bring yourself out from the exhaustion of whole day is to bring yourself to LOC! Life of Chai..  Where they spread an essence of <b style="color:white;">Maa Ka Dular</b> into a cup of Tea. It has refreshing varieties of Tea, Coffee and Shakes maintaining the same quality and taste every time. The newly introduced dishes add more <b style="color:white;">Chaar Chaand</b> to it. This is place where things seems to be emerging good vibes of enthusiasm and passion!</p>
                    <h4 class="cust-name" style="color:white;">Apurva Wankhade</h4>
                <p class="cust-profession" style="color:white;">Social Worker</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body reviews_background_mobile" style="background-color: #B41E23;">
                <div class="template-demo">
                    <p style="color:white;opacity: 0.7;">LOC is an amazing place to hang out with your loved ones. The ambience & friendly service provided by owner and employees makes you feel like home. Also the shop scores well in cleanliness and hygiene as compared to other brands. Regarding Chai ,it's like the more you drink it the more you love it .</p>
                    <h4 class="cust-name" style="color:white;">Pankaj Kale</h4>
                            <p class="cust-profession" style="color:white;">Civil Engineer</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body reviews_background_mobile" style="background-color: #20303D;">
                <div class="template-demo">
                    <p style="color:white;opacity: 0.7;">LOC is heaven for people having Love for Chai. I was a chai addict year ago, but since then I started my weight loss journey I had to quit it & finally after one and half year of fast, the aroma of this tea forced me to try that out.
                    </p>
                    <p style="color:white">
                    Amazing!! was the word which came out from mouth after the first sip.
                    </p>
                    <h4 class="cust-name" style="color:white;">Shoeb Meman</h4>
                            <p class="cust-profession" style="color:white;">Food Blogger & Social Worker</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body reviews_background_mobile" style="background-color: #B41E23;">
                <div class="template-demo">
                    <p style="color:white;opacity: 0.7;">Kudos to the founders of LOC for coming up with this concept of tea cafe. With every sip of tea here at LOC , I literally feel that it's not only about ingredients that makes it special but the unique ambiance and vibrations of the place matures the tea to its zenith. With whatever mood you may come here, one thing is guaranteed- you will be leaving it satisfied and refreshed.</p>
                    <h4 class="cust-name" style="color:white;">Kartik Patel</h4>
                            <p class="cust-profession" style="color:white;">Civil Engineer</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <center style="font-size:44px; color:black; margin-top: 10%; font-weight: bold;">Let's Talk</center>
<p style="font-size:20px; margin-left: 5%; margin-right: 5%;"><span class="first_letter_cap">W</span>e would love to hear from you, and there's lots of ways to reach out and stay connected.</center>
<p style="font-size:20px; margin-left: 5%; margin-right: 5%;">Now,go grap a cup of tea, and let's get to know each other.</center>
<div class="contact_container mt-xl-5 mb-5">
    <div class="d-flex flex-row justify-content-center">
        <form class="col-md-8" method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" style="border : 1px solid #ddd;">
                            <input class="form-control" id="name" type="text" required placeholder="Your Name" name="name">
                        </div>
                        <div class="form-group" style="border : 1px solid #ddd;">
                            <input class="form-control" id="email" type="email" required placeholder="Your Email" name="email">
                        </div>
                        <div class="form-group" style="border : 1px solid #ddd;">
                            <input class="form-control" id="phone_number" type="tel" required placeholder="Your Phone" name="phone_number">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group" style="border : 1px solid #ddd;">
                            <textarea name="msg" id="msg" cols="10" rows="6" class="form-control" placeholder="Your Message" style="height:150px;"></textarea>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center w-100" style="margin-top:2%;"> <input type="button" value="Send Message" class="contact_button"> </div>
                </div>
            </div>
        </form>
    </div>
</div> -->
{% endblock %}
