{% extends "mobile_base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div
        class=""
        style="
          height: 300px;
          background: url('{% static 'images/photo-back.jpg' %}');
        "
      >
        <div
          style="
            height: 300px;
            background-color: #a40207;
            opacity: 0.9;
            width: 100%;
          "
        ></div>
        <div style="position: absolute; top: 25%">
          <center>
            <small
              ><p class="offset-4" style="color: white; width: 100%">
                Happiness is just a cup away from you !
              </p></small
            >
            <p
              class="offset-4"
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              Cup
            </p>
            <p
              class="offset-4"
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              Of Tea
            </p>
          </center>
        </div>
      </div>
    </div>
    <img
      src="{% static '/images/cup_of_tea/02.png'%}"
      alt="Avatar"
      style="width: 50%; z-index: 1; margin-top: -10%; margin-left: 25%"
    />
  </div>
  <div class="row">
    <div class="col">
      <center>
        <div style="width: 100%; padding: 0 20px; line-height: 36px">
          <h1
            style="
              color: black;
              font-size: 25px;
              font-weight: bold;
              margin: 10% 0;
            "
          >
            To Drink | To Eat
          </h1>
        </div>
        <span style="font-size: 16px">
          <span class="first_letter_cap">O</span>ur style is OPEN, RELAXED and
          FRIENDLY and as we say… <br />
          <p>
            “Where there is a tea, there is a way. So, we will make sure to make
            your mornings better and nights longer with our super energizing tea
            & snacks that will drive your weekend in full speed.” Come and join
            us ! Let’s the chai do its magic.
          </p>
        </span>
      </center>
    </div>
  </div>
  <a name="product_page"></a>
  <div class="row" style="margin-top: 5%; margin-bottom: 5%">
    <div class="col">
      <ul
        class="nav nav-tabs nav-pills nav-fill"
        id="myTab"
        role="tablist"
        style="margin-bottom: 2%"
      >
        <li class="nav-item">
          <a
            class="nav-link active"
            data-toggle="tab"
            href="#tea"
            role="tab"
            aria-controls="tea"
            >TEA</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#coffee"
            role="tab"
            aria-controls="coffee"
            >HOT BEVERAGES</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#snacks"
            role="tab"
            aria-controls="snacks"
            >SNACKS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#shakes"
            role="tab"
            aria-controls="shakes"
            >SHAKES</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-toggle="tab"
            href="#accompaniments"
            role="tab"
            aria-controls="accompaniments"
            >ACCOMPANIMENTS</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tea" role="tabpanel">
          <div class="items">
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Tea/Lemon_Tea.jpg'%}"
                  alt="Avatar"
                  class="image"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Lemon Tea</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Our Lemon Chai is fresh and light, brewed to perfection with
                  freshly squeezed lemon to give it a tangy twist.
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Tea/Masala_Chai.jpg'%}"
                  alt="Avatar"
                  class="image"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Masala Tea</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  A handpicked blend of 6 spices - cardamom, pepper, staranise,
                  clove, ginger & cinnamon are infused to brew your refreshing
                  cup of Chai.
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Tea/Mara_Mari_Chai.jpg'%}"
                  alt="Avatar"
                  class="image"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Mara Mari Chai</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Mixture of two different flavor elaichi & masala gives you
                  unique taste & feeling of mara-mari between two flavor.
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/photo-33.png'%}"
                  alt="Avatar"
                  class="image"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Kullad Tea</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Our special brewed masala chai served in traditional clay
                  kulhad.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="coffee" role="tabpanel">
          <div class="items">
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Coffee/Classic_Hot_Coffee.jpg'%}"
                  alt="Avatar"
                  class="image"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">
                  Classic Hot Coffee
                </div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Experience the taste of authentic hot coffee at every sip!!
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Coffee/Hazelnut_Coffee.jpg'%}"
                  alt="Avatar"
                  class="image"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Hazelnut Coffee</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  A gourment blend that includes Arabica & Robusta beans topped
                  with steamed milk.
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Coffee/hot_chocolate.jpg'%}"
                  alt="Avatar"
                  class="image"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Hot Chocolate</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Thick & luscious Hot Chocolate. Feels like a hug in a cup !!
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Coffee/Bournvita_Milk.png'%}"
                  alt="Avatar"
                  class="image"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Bournvita Milk</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Smooth & creamy hot bournvita milk. Who can say no to this
                  classic beverage?
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="snacks" role="tabpanel">
          <div class="items">
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Snacks/Potato_Wedges.jpg'%}"
                  alt="Avatar"
                  class="image"
                  style="height: 100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Potato Wedges</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Enjoy the Small pack of deliciously crsipy, 100% natural
                  potatoes, cut into wedges and fried.
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Snacks/Classic_Fries.jpg'%}"
                  alt="Avatar"
                  class="image"
                  style="height: 100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Classic Fries</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  World Famous Fries, crispy golden, fried to perfection and
                  lightly salted.
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Snacks/Peri_Peri_Maggi.jpg'%}"
                  alt="Avatar"
                  class="image"
                  style="height: 100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Peri Peri Maggi</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Classic Maggi tossed with an assortment of veggies & peri-
                  peri masala.
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Snacks/Veg_Crispy_Vada_Pav.jpg'%}"
                  alt="Avatar"
                  class="image"
                  style="height: 100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">
                  Veg Crispy VadaPav
                </div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Crispy vada pav stuffed with veggie masala tikki.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="shakes" role="tabpanel">
          <div class="items">
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Shakes/Oreo_Shake.jpg'%}"
                  alt="Avatar"
                  class="image"
                  height="100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Oreo Shake</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  A combination of crunchy Oreos , with a sinful chocolate sauce
                  and fresh creamy milk.
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Shakes/Mango_Shake.jpg'%}"
                  alt="Avatar"
                  class="image"
                  height="100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Mango Shake</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Our mango shake is an all ime summer favorite that can be
                  enjoyed all year round. Made with fresh milk and mango
                  flavour.
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Shakes/Cold_Coffee.jpg'%}"
                  alt="Avatar"
                  class="image"
                  height="100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">
                  Thick Cold Coffee
                </div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  A medley of thick cream milk, strong coffee decoction, and
                  chocolate come together over ice for an earthy heat beater.
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Shakes/Butterscotch_Shake.jpg'%}"
                  alt="Avatar"
                  class="image"
                  height="100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">
                  Butterscoth Shake
                </div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  The all-time favourite Butterscotch Shake. Rich, creamy and
                  irresistably butterscotch flavour, that will never go out of
                  style.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="accompaniments" role="tabpanel">
          <div class="items">
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Accompaniments/Butter_Toast.jpg'%}"
                  alt="Avatar"
                  class="image"
                  height="100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Butter Toast</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Freshly toasted bread slices with more than generous dollop of
                  butter !!
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Accompaniments/Khari.jpg'%}"
                  alt="Avatar"
                  class="image"
                  height="100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Khari</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Crispy cheese straw & palak khari that goes perfect with a cup
                  of chai !!
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Accompaniments/Bun_Maska.jpg'%}"
                  alt="Avatar"
                  class="image"
                  height="100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Bun Maska</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Fresh & soft bun with a more than generous dollop of Butter !!
                </div>
              </div>
            </div>
            <div class="row row-flex">
              <div class="col-sm padding-0">
                <img
                  src="{% static '/images/cup_of_tea/Accompaniments/Bread_Jam_Toast.jpg'%}"
                  alt="Avatar"
                  class="image"
                  height="100%"
                />
              </div>
              <div
                class="col-sm padding-0"
                style="
                  background-color: #ae1e1e;
                  border: 0px;
                  border-radius: 0px;
                  color: white;
                "
              >
                <div class="card-title product_image_box">Bread Jam Toast</div>
                <div
                  class="card-body product_image_box"
                  style="
                    color: white;
                    font-size: 16px;
                    opacity: 0.7;
                    padding-top: 0%;
                  "
                >
                  Toasted bread with kissan mix fruit jam spread.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 padding-0" style="margin-top: 7%; margin-bottom: -5%">
      <img src="{% static 'images/cup_of_tea/WWW.png' %}" width="60%" />
    </div>
    <div class="col-md-6 padding-0">
      <div
        class="card"
        style="
          height: 100%;
          width: 90%;
          background: #212531;
          color: white;
          border-radius: 0px;
          z-index: 2;
        "
      >
        <div class="card-title">
          <div
            class="product_image_combo_card_title"
            style="color: white; font-weight: bolder"
          >
            Thick Cold Coffee
          </div>
          <p class="product_image_combo_text" style="color: white">
            Feels like hug in a cup!
          </p>
        </div>
        <div
          class="card-body"
          style="padding-left: 10%; font-size: 16px; color: white"
        >
          A medley of thick cream milk, strong coffee decoction and chocolate
          come together over ice for an earthy heat beater.
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10%">
    <div class="col-md-6 padding-0">
      <img
        src="{% static 'images/cup_of_tea/Untitled-3.png' %}"
        width="60%"
        style="float: right"
      />
    </div>
    <div class="col-md-6 padding-0">
      <div
        class="card"
        style="
          height: 100%;
          width: 90%;
          background: #ae1e1e;
          color: white;
          border: 0px;
          border-radius: 0px;
          float: right;
        "
      >
        <div class="card-title">
          <div
            class="product_image_combo_card_title"
            style="color: white; font-weight: bolder"
          >
            Elaichi Chai
          </div>
          <p class="product_image_combo_text" style="color: white">
            Let's the chai do the magic
          </p>
        </div>
        <div
          class="card-body"
          style="padding-left: 10%; font-size: 16px; color: white"
        >
          Take a stroll down memory lane! Made with fresh full cream milk and
          the best tea leaves from Assam. Feel the warmth of cardamoms in our
          earthy Elaichi Chai.
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 5%; margin-bottom: 5%">
    <div class="col-md-6">
      <table>
        <tr>
          <td>
            <img
              class="review_image_click img-thumbnail"
              id="reviews_image_1"
              data-id="0"
              src="{% static '/images/cup_of_tea/Akshay_Hore.jpg'%}"
              alt="Avatar"
              width="100"
              height="100"
            />
          </td>
          <td>
            <img
              class="review_image_click img-thumbnail"
              id="reviews_image_2"
              data-id="1"
              src="{% static '/images/cup_of_tea/Doris_Singh.jpg'%}"
              alt="Avatar"
              width="80"
              height="80"
            />
          </td>
          <td>
            <img
              class="review_image_click img-thumbnail"
              id="reviews_image_3"
              data-id="2"
              src="{% static '/images/cup_of_tea/Shubham_Giri.jpg'%}"
              alt="Avatar"
              width="90"
              height="90"
            />
          </td>
          <td>
            <img
              class="review_image_click img-thumbnail"
              id="reviews_image_4"
              data-id="3"
              src="{% static '/images/cup_of_tea/Umesh_Wagh.jpeg'%}"
              alt="Avatar"
              width="80"
              height="80"
            />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 5%; margin-bottom: 5%">
    <div class="col-md-4">
      <div class="card w-100">
        <div class="card-body" style="color: black">
          <div class="card-title">
            <h3 id="review_header_name_from_image" style="color: black">
              Akshay Hore
            </h3>
            <h3 id="review_header_source_from_image" style="color: black">
              Software Engineer
            </h3>
          </div>
          <div class="template-demo">
            <p id="review_text_from_image">
              It was extreme winter when I was looking for a cup of tea and came
              across this shop back in Jan’19. The Huge Red board (LOC) and
              young crowd surprise me. I try to explore it and came to know this
              is Nagpur’s new Face named Life Of Chai. Since then the taste,
              aroma and friendly service just mesmerize me. Even now every day
              when I visit it always feel special and comfy to be in there.
            </p>
          </div>
          <hr />
        </div>
      </div>
      <!-- <i class="fa fa-circle" style="font-size:44px; color:#a40207; position: absolute; bottom: 0px;"></i> -->
    </div>
  </div>
</div>
<!-- <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div class="" style="height:300px; background : url('{% static 'images/photo-back.jpg' %}');">
            <div style="height: 300px;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div style="position: absolute;top:25%;">
                <center>
                    <small><p class="offset-4" style="color:white;width:100%; ">Happiness is just a cup away from you !</p></small>
                <p class="offset-4" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">Cup</p>
                <p class="offset-4" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">Of Tea</p>
                </center>
            </div>
        </div>
    </div>
        <img src="{% static '/images/cup_of_tea/02.png'%}" alt="Avatar" style="width:50%; z-index: 1; margin-top: -10%; margin-left: 25%;">
</div> -->
<!-- <div class="container" style="margin-top: 5%;, margin-bottom: 5%;">
    <center>
        <div style="width:100%;">
            <h1 style="color:black; font-size: 32px; font-weight: bold; margin-bottom: 2%;">To Drink | To Eat</h1>
            <span style="font-size: 18px;"><span class="first_letter_cap">O</span>ur style is OPEN, RELAXED and FRIENDLY and as we say… <br>
                <p>“Where there is a tea, there is a way. So, we will make sure to make your mornings better and
                nights longer with our super energizing tea & snacks that will drive your weekend in full speed.”
                Come and join us ! Let’s the chai do its magic.</p>
        </div>
    </center>
</div> -->
<!-- <a name="product_page"></a> -->
<!-- <div class="container" style="margin-top:5%; margin-bottom: 5%;" >
    <ul class="nav nav-tabs nav-pills nav-fill" id="myTab" role="tablist" style="margin-bottom: 2%;">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tea" role="tab" aria-controls="tea">TEA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#coffee" role="tab" aria-controls="coffee">HOT BEVERAGES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#snacks" role="tab" aria-controls="snacks">SNACKS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#shakes" role="tab" aria-controls="shakes">SHAKES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#accompaniments" role="tab" aria-controls="accompaniments">ACCOMPANIMENTS</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tea" role="tabpanel">
            <div class="items" style="width:100%;">
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Tea/Lemon_Tea.jpg'%}" alt="Avatar" class="image">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Lemon Tea
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    Our Lemon Chai is fresh and light, brewed to perfection with freshly squeezed lemon to give it a tangy twist.
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Tea/Masala_Chai.jpg'%}" alt="Avatar" class="image">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Masala Tea
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    A handpicked blend of 6 spices - cardamom, pepper, staranise, clove, ginger & cinnamon are infused to brew your refreshing cup of Chai. 
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Tea/Mara_Mari_Chai.jpg'%}" alt="Avatar" class="image">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Mara Mari Chai
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                   Mixture of two different flavor elaichi & masala gives you unique taste & feeling of mara-mari between two flavor. 
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/photo-33.png'%}" alt="Avatar" class="image">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Kullad Tea
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                   Our special brewed masala chai served in traditional clay kulhad.
                                </div>
                            </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="coffee" role="tabpanel">
            <div class="items" style="width:100%;">
                <div class="row row-flex">
                    <div class="col-sm padding-0">
                        <img src="{% static '/images/cup_of_tea/Coffee/Classic_Hot_Coffee.jpg'%}" alt="Avatar" class="image">
                    </div>
                    <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                        <div class="card-title product_image_box ">Classic Hot Coffee
                        </div>
                        <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                            Experience the taste of authentic hot coffee at every sip!!
                        </div>
                    </div>
                </div>
                <div class="row row-flex">
                    <div class="col-sm padding-0">
                        <img src="{% static '/images/cup_of_tea/Coffee/Hazelnut_Coffee.jpg'%}" alt="Avatar" class="image">
                    </div>
                    <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                        <div class="card-title product_image_box ">Hazelnut Coffee
                        </div>
                        <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                             A gourment blend that includes Arabica & Robusta beans topped with steamed milk.
                        </div>
                    </div>
                </div>
                <div class="row row-flex">
                    <div class="col-sm padding-0">
                        <img src="{% static '/images/cup_of_tea/Coffee/hot_chocolate.jpg'%}" alt="Avatar" class="image">
                    </div>
                    <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                        <div class="card-title product_image_box ">Hot Chocolate
                        </div>
                        <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                            Thick & luscious Hot Chocolate. Feels like a hug in a cup !!
                        </div>
                    </div>
                </div>
                <div class="row row-flex">
                    <div class="col-sm padding-0">
                        <img src="{% static '/images/cup_of_tea/Coffee/Bournvita_Milk.png'%}" alt="Avatar" class="image">
                    </div>
                    <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                        <div class="card-title product_image_box ">Bournvita Milk
                        </div>
                        <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                            Smooth & creamy hot bournvita milk. Who can say no to this classic beverage?
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="snacks" role="tabpanel">
            <div class="items" style="width:100%;">
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Snacks/Potato_Wedges.jpg'%}" alt="Avatar" class="image" style="height: 100%;">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Potato Wedges
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    Enjoy the Small pack of deliciously crsipy, 100% natural potatoes, cut into wedges and fried.
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Snacks/Classic_Fries.jpg'%}" alt="Avatar" class="image" style="height: 100%;">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Classic Fries
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    World Famous Fries, crispy golden, fried to perfection and lightly salted.
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Snacks/Peri_Peri_Maggi.jpg'%}" alt="Avatar" class="image" style="height: 100%;">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Peri Peri Maggi
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    Classic Maggi tossed with an assortment of veggies & peri- peri masala.
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Snacks/Veg_Crispy_Vada_Pav.jpg'%}" alt="Avatar" class="image" style="height: 100%;">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Veg Crispy VadaPav
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    Crispy vada pav stuffed with veggie masala tikki.
                                </div>
                            </div>
                </div>
                
            </div>
        </div>
        <div class="tab-pane" id="shakes" role="tabpanel">
             <div class="items" style="width:100%;">
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Shakes/Oreo_Shake.jpg'%}" alt="Avatar" class="image" height="100%">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Oreo Shake
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    A combination of crunchy Oreos , with a sinful chocolate sauce and fresh creamy milk.
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Shakes/Mango_Shake.jpg'%}" alt="Avatar" class="image" height="100%">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Mango Shake
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    Our mango shake is an all ime summer favorite that can be enjoyed all year round. Made with fresh milk and mango flavour.
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Shakes/Cold_Coffee.jpg'%}" alt="Avatar" class="image" height="100%">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Thick Cold Coffee
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    A medley of thick cream milk, strong coffee decoction, and chocolate come together over ice for an earthy heat beater. 
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Shakes/Butterscotch_Shake.jpg'%}" alt="Avatar" class="image" height="100%">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Butterscoth Shake
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    The all-time favourite Butterscotch Shake. Rich, creamy and irresistably butterscotch flavour, that will never go out of style.
                                </div>
                            </div>
                </div>
                
            </div>
        </div>
        <div class="tab-pane" id="accompaniments" role="tabpanel">
            <div class="items" style="width:100%;">
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Accompaniments/Butter_Toast.jpg'%}" alt="Avatar" class="image" height="100%">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Butter Toast
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    Freshly toasted bread slices with more than generous dollop of butter !!
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Accompaniments/Khari.jpg'%}" alt="Avatar" class="image" height="100%">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Khari
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    Crispy cheese straw & palak khari that goes perfect with a cup of chai !!
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Accompaniments/Bun_Maska.jpg'%}" alt="Avatar" class="image" height="100%">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Bun Maska
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                   Fresh & soft bun with a more than generous dollop of Butter !!
                                </div>
                            </div>
                </div>
                <div class="row row-flex">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Accompaniments/Bread_Jam_Toast.jpg'%}" alt="Avatar" class="image" height="100%">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box ">Bread Jam Toast
                                </div>
                                <div class="card-body  product_image_box" style="color:white; font-size:16px; opacity:0.7; padding-top:0%;">
                                    Toasted bread with kissan mix fruit jam spread.
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div>
    <div class="row">
        <div class="col-md-6 padding-0" style="margin-top: 7%; margin-bottom: -5%;">
            <img src="{% static 'images/cup_of_tea/WWW.png' %}" width="60%"/>
        </div>
        <div class="col-md-6 padding-0">
            <div class="card" style="height: 100%; width: 90%; background: #212531;color:white;border-radius: 0px; z-index:2">
                <div class="card-title ">
                    <div class="product_image_combo_card_title" style="color:white; font-weight: bolder;">Thick Cold Coffee</div>
                    <p class="product_image_combo_text" style="color:white;">Feels like hug in a cup!</p>
                </div>
                <div class="card-body" style="padding-left: 10%; font-size: 16px; color:white;">A medley of thick cream milk, strong coffee decoction and chocolate come together over ice for an earthy heat beater.
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10%;">
        <div class="col-md-6 padding-0">
            <img src="{% static 'images/cup_of_tea/Untitled-3.png' %}" width="60%" style="float:right;"/>
        </div>
        <div class="col-md-6 padding-0" style="margin-bottom: -5%; margin-top: -2%; ">
            <div class="card" style="height: 100%; width: 90%;background: #ae1e1e; color:white; border: 0px; border-radius: 0px; float:right;">
                <div class="card-title " >
                    <div class="product_image_combo_card_title" style="color:white; font-weight: bolder;">Elaichi Chai</div>
                    <p class="product_image_combo_text" style="color:white;">Let's the chai do the magic</p>
                </div>
                <div class="card-body" style="padding-left: 10%; font-size: 16px;color:white;">Take a stroll down memory lane! Made with fresh full cream milk and the best tea leaves from Assam. Feel the warmth of cardamoms in our earthy Elaichi Chai.
                </div>
            </div>
        </div>
    </div>
    <div style="margin-left: 2%; margin-bottom: 5%; margin-top: 65%;">
    <div class="row">
        <div class="col-md-6">
            <table style="position: absolute; bottom: 0px;">
                <tr>
                    <td>
                        <img class="review_image_click img-thumbnail" id="reviews_image_1" data-id="0" src="{% static '/images/cup_of_tea/Akshay_Hore.jpg'%}" alt="Avatar" width="100" height="100" />
                    </td>
                    <td>
                        <img class="review_image_click img-thumbnail" id="reviews_image_2" data-id="1" src="{% static '/images/cup_of_tea/Doris_Singh.jpg'%}" alt="Avatar" width="80" height="80" />
                    </td>
                    <td>
                        <img class="review_image_click img-thumbnail" id="reviews_image_3" data-id="2" src="{% static '/images/cup_of_tea/Shubham_Giri.jpg'%}" alt="Avatar" width="90" height="90" />
                    </td>
                    <td>
                        <img class="review_image_click img-thumbnail" id="reviews_image_4" data-id="3" src="{% static '/images/cup_of_tea/Umesh_Wagh.jpeg'%}" alt="Avatar" width="80" height="80" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 5%;">
            <div class="card">
                <div class="card-body" style="color:black;">
                    <div class="card-title">
                        <h3 id="review_header_name_from_image" style="color:black;">Akshay Hore</h3>
                        <h3 id="review_header_source_from_image" style="color:black;">Software Engineer</h3>
                    </div>
                    <div class="template-demo">
                        <p id="review_text_from_image">It was extreme winter when I was looking for a cup of tea and came across this shop back in Jan’19. The Huge Red board (LOC) and young crowd surprise me. I try to explore it and came to know this is Nagpur’s new Face named Life Of Chai. Since then the taste, aroma and friendly service just mesmerize me. Even now every day when I visit it always feel special and comfy to be in there.</p>
                    </div>
                    <hr>
                </div>
            </div>
             <i class="fa fa-circle" style="font-size:44px; color:#a40207; position: absolute; bottom: 0px;"></i> -->
<!-- </div> -->
<!-- </div>
</div> -->

<script>
  $("#myTab a").on("click", function (e) {
    e.preventDefault();
    $(this).tab("show");
  });
  $(".review_image_click").click(function () {
    var data_id = $(this).attr("data-id");
    var image_src = $(this).attr("src");
    var name = ["Akshay Hore", "Doris Singh", "Shubham Giri", "Umesh Wagh"];
    var source = [
      "Software Engineer",
      "Facilitator",
      "Mechanical Engineer",
      "Chemical Engineer",
    ];
    var text = [
      "It was extreme winter when I was looking for a cup of tea and came across this shop back in Jan’19. The Huge Red board (LOC) and young crowd surprise me. I try to explore it and came to know this is Nagpur’s new Face named Life Of Chai. Since then the taste, aroma and friendly service just mesmerize me. Even now every day when I visit it always feel special and comfy to be in there.",
      "There is always someone or something that has made you fell in love with Chai…....for me its LOC. This place serves the best tea in town with so much of love. One more thing that had made this place attractive for me is the story of LOC; LOC has not got its popularity just for its amazing tea but also for the passion that its founders have and their vision.",
      "It may look like your average neighborhood tea point, but LOC is anything different! I wandered in with two friends on a Friday night, and was immediately greeted by the friendly staff and incredible aroma of various teas. The counter was filling up quickly (it was almost 7:00 pm) but we managed to take a cup of tea.",
      "Best Chai Taste in entire Nagpur...must visit place for chai lover...you will find shop owners are as sweet as tea...Masala, Adrak and Elaichi all will refresh you from within but my personal favorite is Elaichi.  Recently they have started vada pav, cheese corn maggi along with lots of other stuff which you can have along with Tea and must admit they are unique in all the products they serve in terms of quality and taste.",
    ];

    $("#review_text_from_image").text(text[data_id]);
    $("#review_header_name_from_image").text(name[data_id]);
    $("#review_header_source_from_image").text(source[data_id]);
    $("#review_big_image_show").attr("src", image_src);
    $(".review_image_click").css("filter", "");
    $(this).css("filter", "blur(3px)");
  });
</script>
{% endblock %}
