{% extends "mobile_base.html" %} {% load static %} {% block content %}
<div
  style="margin-top: 5%; margin-bottom: 10%; margin-left: 5%; margin-right: 5%"
>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a
          href="#"
          class="branch_location list-group-item list-group-item-action flex-column align-items-start"
          data-id="1"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" style="color: black; font-weight: bold">
              Main Branch
            </h5>
          </div>
          <p class="mb-1" style="color: black">
            Plot no. 09, Gahukar Complex, opposite to Arena Gym, Manewada
            Square, Nagpur, Maharashtra 440024
          </p>
        </a>
        <a
          href="#"
          class="branch_location list-group-item list-group-item-action flex-column align-items-start"
          data-id="2"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" style="color: black; font-weight: bold">
              Nandanvan Branch
            </h5>
          </div>
          <p class="mb-1" style="color: black">
            Nandanvan Road, Opposite to Shikshak Sahakari Bank, beside Gananayak
            Sabhagruha, Nandanvan Chowk, Nagpur, Maharashtra 440009
          </p>
        </a>
        <a
          href="#"
          class="branch_location list-group-item list-group-item-action flex-column align-items-start"
          data-id="3"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" style="color: black; font-weight: bold">
              Indora Branch
            </h5>
          </div>
          <p class="mb-1" style="color: black">
            17, Panchpaoli Road Bharat Jyoti Society, Near Indora Chowk, Nagpur,
            Maharashtra 440017
          </p>
        </a>
        <a
          href="#"
          class="branch_location list-group-item list-group-item-action flex-column align-items-start"
          data-id="4"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1" style="color: black; font-weight: bold">
              Sadar Branch
            </h5>
          </div>
          <p class="mb-1" style="color: black">
            Sardar, Opp. Shabana Bakery, beside Anjunam polytechnic College,
            Nagpur, Maharashtra 440001
          </p>
        </a>
      </div>
    </div>
    <div
      id="googleMap"
      class="col-md-9"
      style="width: 100%; height: 500px"
    ></div>
  </div>
</div>
<script>
  function myMap(latitute, longitude) {
    var mapProp = {
      center: new google.maps.LatLng(latitute, longitude),
      zoom: 10,
    };
    var map = new google.maps.Map(
      document.getElementById("googleMap"),
      mapProp
    );
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(latitute, longitude),
    });
    marker.setMap(map);
  }

  $(".branch_location").click(function () {
    var data_id = $(this).attr("data-id");
    var lat = [0, 21.145537, 21.136016, 21.171339, 21.1638907];
    var lng = [0, 79.074901, 79.1172223, 79.0980768, 79.0781431];
    myMap(lat[data_id], lng[data_id]);
  });

  $(document).ready(function () {
    myMap(21.145537, 79.074901);
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANl6mMC2fSv0ZCwNzHN-4QMdXKFAmXteY"></script>
{% endblock %}
