{% extends "mobile_base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div
        style="
          height: 300px;
          background: url('{% static 'images/photo-back.jpg' %}');
        "
      >
        <div
          style="
            height: 300px;
            background-color: #a40207;
            opacity: 0.9;
            width: 100%;
          "
        ></div>
        <div style="position: absolute; top: 25%">
          <center>
            <small
              ><p class="offset-6" style="color: white; width: 100%">
                I can't but we can
              </p></small
            >
            <p
              class="offset-6"
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              Work Together
            </p>
            <p
              class="offset-6"
              style="
                width: 100%;
                font-size: 30px;
                color: white;
                font-weight: bold;
                margin-top: -5%;
              "
            >
              For Success
            </p>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-right: 0; padding-left: 0">
      <div style="width: 100%">
        <img
          class="image-responsive"
          src="{% static 'images/our_team/banner_image.jpg' %}"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1
        style="
          margin: 10% 0;
          color: black;
          font-size: 40px;
          font-weight: bold;
          text-align: center;
        "
      >
        OUR PEOPLE
      </h1>
      <p style="font-size: 16px">
        <span class="first_letter_cap">A</span>t the end of the day, it all
        comes down to tea. But to get there it takes a dedicated, knowledgeable
        and cooperative team with a sustainable approach. We're enthusiasts with
        a passion of one thing - Amazing Tea. Meet the people committed making
        great tea happen every day at Life Of Chai.
      </p>
    </div>
  </div>
  <div class="row" style="margin-bottom: 10%; margin-top: 10%">
    <div class="col">
      <img src="{% static '/images/our_team/Group_661.png'%}" alt="Avatar" />
    </div>
  </div>
</div>
<!-- <div class="row">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div class="" style="height:300px; background : url('{% static 'images/photo-back.jpg' %}');">
            <div style="height: 300px;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div style="position: absolute;top:25%;">
                <center>
                    <small><p class="offset-6" style="color:white;width:100%; ">I can't but we can</p></small>
                <p class="offset-6" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">Work Together</p>
                <p class="offset-6" style="width:100%;font-size:30px; color:white; font-weight:bold;margin-top:-5%;">For Success</p>
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div style="width:100%;">
            <img class="image-responsive" src="{% static 'images/our_team/banner_image.jpg' %}" />
        </div>
    </div>
</div> -->
<!-- <div class="container">
    <div style="width:100%;">
        <h1 style="margin-top: 10%; color:black; font-size: 40px; font-weight: bold;">OUR PEOPLE</h1>
        <p style="font-size: 18px;"><span class="first_letter_cap">A</span>t the end of the day, it all comes down to tea. But to get there it takes a <br> dedicated, knowledgeable and cooperative team with a sustainable approach. <br> We're enthusiasts with a passion of one thing - Amazing Tea. Meet the people <br> committed making great tea happen every day at Life Of Chai.</p>
    </div>
</div> -->

<!-- <div class="container" style="margin-bottom: 10%; margin-top: 10%;">
    <img src="{% static '/images/our_team/Group_661.png'%}" alt="Avatar" >
</div> -->
{% endblock %}
