footer {
    
    width: 100%;
    color: white;
}

body * {
    font-family: 'Open Sans', sans-serif;
    color: grey;
}
#main_header_div{
    color: white;
    position: absolute;
    width: 55%;
    top: 20%;
}
.header_nav{
    color: white;
    position: absolute;
    top:4%;
    width: 55%;
}
/* Wrapper */
.icon-button {
    border-radius: 3.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 2.0rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 3.6rem;
}

/* Circle */
.icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.icon-button:hover span {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    margin: -1.8rem;
}

/* Icons */
.icon-button i {
    background: none;
    color: white;
    height: 3.6rem;
    left: 0;
    line-height: 3.6rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}


.list_nav {
    color: white;
    padding-top: 2%;
    display: block;
    text-decoration: none !important;
}
 a:hover{
    color:#a40207;
}


#footer_1 {
    background-color: #222328;
    padding-bottom: 5%;
}

#footer_2 {
    background-color: #28292E;
    padding-bottom: 5%;
}

.two_image_div {
    width: 100%;
}

/* Split the screen in half */
.split {
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.nav_background{
    background-color: #B41E23;
    opacity: 0.9;
    color:white;
    text-decoration: none;
}
.nav-item_text{
    color:white;
}
/* Control the left side */
.left {
    left: 0;
    float: left;
}

/* Control the right side */
.right {
    right: 0;
    float: left;
}

#div_1_text {
    margin-top: 15%;
    margin-left: 15%;
    color: white;
    font-weight: 400;
    font-size:24px;
}

#div_2_text {
    margin-top: 3%;
    margin-left: 15%;
    color: white;
    font-size: 68px;
    font-weight: bold;
}

#div_2_text_new {
    margin-top: 3%;
    color: white;
    font-size: 68px;
    font-weight: bold;
    text-align: center;
}

#div_3_text {
    margin-left: 15%;
    color: white;
    font-size: 68px;
    font-weight: bold;
}

#div_4_button {
    margin-left: 15%;
    margin-top: 3%;
    color: white;
    border: 1px solid white;
}

#div_4_button_mobile {
    margin-top: 3%;
    color: white;
    border: 1px solid white;
}

.image_split {
    width: 50%;
}

.image_left {
    margin-top: 5%;
}

.divide {
    width: 50%;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.first_letter_cap {
    font-size: 24px;
    color: red;
    line-height: 0;
}

#loc_heading_4 {
    font-size: 70px;
}

.container_1 {
    margin-top: 2%;
    margin-left: 5%;
    width: 50%;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
}

.container_2 {
    margin-top: 2%;
    margin-left: 2%;
}


#content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.container_divide {
    margin-top: 2%;
    margin-left: 5%;
    width: 50%;
}

.container_1 {
    position: relative;
    flex-basis: 18%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #20303D;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.9;
    color:white;
}

.image_container:hover .overlay {
    height: 100%;
}
.img_container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.img_container:hover .overlay,
.overlay:hover {
  height: 100%;
}
.img_container > img {
  
}
/*.overlay_products {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: maroon;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.8;
    color:white;
}

.image_container:hover .overlay_products {
    height: 100%;
}*/

.text {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    width:100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container_divide1 {
    margin-top: -8%;
    margin-left: 5%;
}
#happy_customer_text1{
	font-size: 34px;
	font-family: "open-sans-light";
}
#happy_customer_text2{
	font-size: 70px;
	font-family: "open-sans-regular";
}
#loc_heading_5 {
    font-size: 24px;
    margin-right: 2%;
    font-weight: lighter;
}
@media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .card {
     position: relative;
     display: flex;
     width: 350px;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background-color: #fff;
     background-clip: border-box;
     border: 1px solid #d2d2dc;
     border-radius: 11px;
     -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
     -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
     box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
 }

 .card .card-body {
     padding: 1rem 1rem
 }

 .card-body {
     flex: 1 1 auto;
     padding: 1.25rem
 }
 .profile {
     margin-left: 10px;
     position: absolute;
     bottom: 0px;
 }

 .profile-pic {
     width: 58px
 }

 .cust-name {
     font-size: 18px
 }

 .cust-profession {
     font-size: 10px
 }

 .items {
     width: 75%;
     margin: 0px auto;
     margin-top: 5%;
 }
 .slick-slide {
     margin: 10px
 }

.text-muted {
    font-family: 'Ubuntu', sans-serif
}

.fa-map-marker,
.fa-phone,
.fa-envelope {
    font-size: 25px;
    font-weight: bold
}

.icon {
    color: rgb(105, 27, 179)
}

.contact:hover {
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative
}

form .container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto
}



label {
    font-weight: 500
}

.fa-mobile {
    font-size: 20px
}

#msg {
    height: 220px
}

.contact_button {
    background-color: #B41E23;
    color: #fff;
    padding: 5px 10px;
    width: 200px;
    margin: 10px auto
}

.mobile-info {
    display: none
}

@media(min-width:992px) and (max-width:1199px) {
    form {
        width: 75%
    }

    .container {
        margin-top: 50px
    }
}

@media(max-width:767px) {
    .mobile-info {
        display: inline
    }

    .contact-info {
        display: none
    }

    .contact {
        margin: 10px 0;
        border: 1px solid rgb(105, 27, 179);
        border-radius: 5px
    }
}
.contact_container {
    border-radius: 10px
}

.about_item{
	color: #a40207;
}
.about_item : hover{
    color: #a40207;
}
.blog_heading{
    font-size: 20px;
    margin: 0 0 15px;
    font-weight: 600;
    color:black;
}
.blog_heading : hover {
    color:blue;
}
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
   border-radius: 50%;
  
}

.fa:hover {
    opacity: 0.7;
}

#founder_text{
    color:#c1b4b4;
    margin-left: 5%;
    font-size: 22px;
    margin-right: 5%;
}
.team_image{
    border-radius: 15px;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 2%;
}
.myAlert-bottom{
    position: fixed;
    bottom: 5px;
    right:2%;
    width: 20%;
}
.contact_us_div{
    background:#212531;
  background: linear-gradient(to right bottom, #a40207 50%, #212531 50%);
  color:white;
}
.input_group_contact_us{
    background: #20303d;
    color:white;
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #3c4c59;
}

.input_group_contact_us::placeholder {
    color: #9fa9b2;
}

#text_over_image {
  z-index: 100;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}

.reviews_background{
    color:white;
    height: 300px;
}
.reviews_background_mobile{
    color:white;
    height: 400px;
}
.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.nav-pills .nav-link {
    background-color: white!important;
    color:black;
}
.nav-pills .nav-link.active {
    background-color: #ae1e1e!important;
    color:white;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.product_image_box{
    /* padding-left: 10%; */
    padding-top: 5%;
    color:white;
    font-size: 22px;
    opacity: 0.7;
    text-align: center;
}
.vertical-center {
  align-items: center;
  padding-top: 7%;
}
.product_image_combo_card_title{
    padding-left: 10%;
    padding-top:10%;
    font-size: 28px;
}
.product_image_combo_text{
    padding-left: 10%;
}
.template-demo{
    color:white;
    padding-top:5%;
}
.form-group:focus {
        border-color: #28a745;
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    } 

input:focus {
    
    outline: none !important;
    border:1px solid red;
    box-shadow: 0 0 10px #a40207;

}
.card-text-career{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.branch_location{
    color:white;
}
.media_card{
    background: #f3eeee;
    border: none;
    border-radius: unset;
    box-shadow: none;
}
.img_media_card{
    border: none;
    border-radius: unset;
    box-shadow: none;
    height: 100%;
    width: 100%;
}
.media_card_red_back{
    position: relative;
  color: white;
  background-color: #a40207;
}
.centered {
  color:white;
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.loc-input{
    background: #f2f2f2;
    border: 0;
}