{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div style="width:55%;">
        <div style="height:90%; background : url('{% static 'images/photo-back.jpg' %}');background-repeat: round;">
            <div style="height: 100%;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div class="header_nav">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto nav-fill w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="/" style="color:white; ">HOME</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/about_us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; ">ABOUT US</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item about_item" href="/about_us" style="color:black;">ABOUT US</a>
                                    <a class="dropdown-item about_item" href="/career" style="color:black;">CAREER</a>
                                    <a class="dropdown-item about_item" href="/media" style="color:black;">MEDIA</a>
                                    <a class="dropdown-item about_item" href="/team" style="color:black;">TEAM</a>
                                    <a class="dropdown-item about_item" href="/store_locator" style="color:black;">STORE LOCATOR</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products" style="color:white; ">PRODUCTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/franchise" style="color:white; ">FRANCHISE</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="main_header_div">
                <h3 id="div_1_text">A peak into our odyssey,</h3>
                <span id="div_2_text">From Scratch</span><br>
                <span id="div_2_text">to Hatch</span>
            </div>
        </div>
    </div>
    <div style="width:44%;">
        <div style="width:100%;">
            <div style="display: flex; position: relative; top:5%;">
                <nav class="navbar navbar-expand-lg w-100">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-fill w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog_page" style="color:black; ">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact_us" style="color:black; ">CONTACT US</a>
                        </li>
                    </ul>
                    <img src="{% static 'images/header_logo.png' %}" />
                </div>
            </nav>
            </div>
            <div>
            <img src="{% static 'images/banner_image.jpg' %}" width="100%" />
        </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <img class="img-fluid" src="{% static '/images/about_us/loc.jpg' %}"/>
        </div>
        <div class="col-sm">
            <div class="d-flex flex-row justify-content-center align-items-center" style="margin-top: 10%;">
                <div class="p-2">
                    <div style="font-size: 72px; color:black; font-weight: bolder;">ABOUT US</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="font-family: 'Open Sans', sans-serif;">
    <p style="font-size: 24px;"><span class="first_letter_cap">“D</span>o what you can, with what you have and where you are”- was our guiding principle when we started a year ago. We didn’t wait until conditions were perfect. Instead we thought, our beginning will make our conditions perfect. We opened our first cafe in January, 2019 at Manewada Square, Nagpur– the youth and the young at heart immediately took to the cafe, and it continues to be one of the most happening places in the city. Today, LOC has over 8 branches across Nagpur and other cities, serving more than 10,000 visitors daily.
    <br>
    LOC to the people is a “hangout” spot where they meet new people, make conversations, and have a whole lot of fun over steaming cups of great tea. Our customers have made us who we are today and we're glad to be a part of their lives. We make sure everything we do is through the lens of humanity. We are devoted to support local venders and youngsters too who want to start their entrepreneurship journey. It’s been an exciting journey since then to becoming the largest organized retail café chain in the Nagpur city.
    <br>
    At the helm of this team, two passionate co-owners. Indeed, the partners, Shubham Dabre and Ujjwal Sahare share a true love and passion for crafting amazing tea.
    </p>
</div>
<div style="margin-top: 5%;">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="width:100%;">
                <div class="row">
                    <div class="col-sm-8" style="background-color: #a21b1b; padding:4%;">
                        <h2 class="card-title" id="founder_text" style="font-size: 40px; font-weight: bolder; color:white;">Meet the Founder</h2>
                        <p id="founder_text">
                            Shubham, one of the masterminds behind the success of LOC, a graduate from one of the best technological institutes of Maharashtra, after working in a well-known construction firm for a couple of years soon realised and was deeply moved by the quote “ Don’t just aspire to make a living, but to make a difference”. This ignited his mind to explore and realise his strengths. In the process of mingling his skills with his thinking, he decided to make a difference by serving tea-The practical version of Amrit.
                        </p>
                        <p id="founder_text">Shubham shares his partner Ujjwal’s views when it comes to describing his vision of the business:</p>
                        <p id="founder_text">“It's my duty to create a warm and lively atmosphere for our customers, where quality products are served in a simple yet divine way in order to awaken their taste buds.”</p>
                        <h2 class="card-title" id="founder_text">Shubham Dabre</h2>
                        <h4 id="founder_text">Co Founder</h4>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static 'images/about_us/shubham.jpg' %}" class="card-img-bottom img-fluid" alt="Header Image" style="margin-top:25%; margin-left:-15%; position: absolute; bottom: 0px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div style="width:100%;">
                <div class="row">
                    <div class="col-sm-8" style="background-color: #20303D; padding:4%;">
                        <h2 class="card-title" id="founder_text" style="font-size: 40px; font-weight: bolder; color:white;">Meet the Founder</h2>
                        <p id="founder_text">
                            When talking to Ujjwal about the Cafe, it is obvious to see the passion he has for the tea and business. Let’s see what his vision towards LOC is, </p>
                         <p id="founder_text">
                            “For a brief moment in the lives of our customers, we try to take them on a short culinary journey, where we want to awaken all their senses. This was the main idea behind our process and it is that which best defines the uniqueness of LOC.”</p>
                        <p id="founder_text">
                            Ujjwal further adds, our purpose is to DELIVER MAGIC MOMENTS EVERYDAY THROUGH OUTSTANDING HOSPITALITY, DELICIOUS PRODUCTS OF BEST VALUE AND GREAT CONVENIENCE.</p>
                        <p id="founder_text">
                            Come and experience the magic of LOC.
                        </p>
                        <h2 class="card-title" id="founder_text">Ujjwal Sahare</h2>
                        <h4 id="founder_text">Co Founder</h4>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static 'images/about_us/DSC_0198.jpg' %}" class="card-img-bottom img-fluid" alt="Header Image" style="margin-top:25%; margin-left:-10%;position: absolute; bottom: 0px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container" style="font-family: 'Open Sans', sans-serif; margin-top: 5%;">
    <h1 style="font-size: 72px; color:black; font-weight: bolder;" id="photos">PHOTOS</h1>
    <div class="row">
        <div class="col-md-4">
            <p style="font-size: 24px;"><span class="first_letter_cap">G</span>et to know us and you’ll see we are so much more than what we serve. Check out some cool snaps of our LOC</p>
        </div>
        <div class="col-md-3" style="margin-top:12%;">
            <a href="#" class="meat" data-img="{% static '/images/about_us/02.jpg' %}" >
               <img class="img-fluid image_gallery" src="{% static '/images/about_us/02.jpg' %}" style="margin-bottom: 5%;">
            </a>
        </div>
        <div class="col-md-5">
            <iframe src="https://www.youtube.com/embed/eBivpU6EbEo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%; height: 95%;"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
             <a href="#" class="meat" data-img="{% static '/images/about_us/03.jpg' %}" >
                <img src="{% static '/images/about_us/03.jpg' %}" height="300" style="float:right;">
            </a>
        </div>
        <div class="col-md-5">
            <a href="#" class="meat" data-img="{% static '/images/about_us/01.jpg' %}" >
                <img src="{% static '/images/about_us/01.jpg' %}" height="300">
            </a>
        </div>
    </div>
</div>
<div style="margin-top: 10%; margin-bottom: 10%; margin-left:5%; margin-right:5%;">
    <div class="row">
        <div class="col-md-6">
            <div class='product-holder'>
                <img src="{% static '/images/about_us/tea_02.jpg' %}" style="position: relative;display: block;">
                <img src="{% static '/images/about_us/tea_01.jpg' %}" height="200" style="position: absolute;
 bottom: 4%;right: 2%; z-index: 2; width:70%; height:50%;">
            </div>
        </div>
        <div class="col-md-6">
            <h1 style="color:black; font-size: 68px; font-weight: bolder;">Journey of Garden to Cup</h1>
            <p style="font-size: 28px;">Tea leaves- It always has been and will always be about quality</p>
            <p style="font-size: 24px;"><span class="first_letter_cap">W</span>e believe that tea preparation is nothing but an Art. We take a great amount of time and efforts to finalise the tea recipes. From hygiene to the quality of tea leaves, the balance of ingredients to the amount of sugar, everything is dealt with precision and perfection. To ensure authenticity, we prepare our own chai masalas. Thus, you’ll be able to experience the same heavenly taste at any franchisee of LOC.</p>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="meatModal" class="modal fade" tabindex="-1" role="dialog">
<div class="modal-dialog modal-dialog-centered" style="width:70%; height:70%; margin:0; padding: 0;max-width: none; margin-left: 15%;">
  <div class="modal-content" style="border-radius: 0;">
    <div class="modal-body">
        <img src="" id="meatModalImg" width="100%">
    </div>
  </div>
</div>
</div>
{% endblock %}