<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LOC</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>

<body>
   <!-- Material form login -->
<div class="card container" style="margin-top:10%;">
  <h5 class="card-header info-color white-text text-center py-4" style="background-color: #33b5e5;">
    <strong>Sign in</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" action="/admin_login" method="POST">
        {% csrf_token %}
      <!-- Email -->
      <div class="md-form">
        <label for="materialLoginFormEmail">Username</label>
        <input type="text" id="materialLoginFormEmail" class="form-control" name="username">

      </div>

      <!-- Password -->
      <div class="md-form">
        <label for="materialLoginFormPassword">Password</label>
        <input type="password" id="materialLoginFormPassword" class="form-control" name="password">

      </div>
      <!-- Sign in button -->
      {% if msg %}
      <div class="alert alert-danger" role="alert" style="margin-top: 5%;">
        {{msg}}
      </div>
      {% endif %}
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

      
    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->
   </body>

</html>
<script type="text/javascript">
$(document).ready(function() {
});
</script>