<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LOC - Life Of Chai</title>
    <meta name="description" content="Located in the heart of the Nagpur city, LOC is a bright, airy space and has become Nagpur’s favourite hangout for tea. It’s a break from the outside world" />
    <meta name="keywords" content="LOC, LIFE OF CHAI, Best chai in Nagpur, Happiness right in your cup, tea place in Nagpur, LIFE OF CHAI Nagpur,  LOC Maggi, best hangout place" />
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <!-- Including Font Awesome CSS from CDN to show icons -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <a href="/googleee3195f7154d85e9">
    <meta name="google-site-verification" content="PPVmrpLMSSu89XpNYgJMyqXZrFiwH-OqHu-DBmItI0c" />
</head>

<body>
    {% block content %}
    {% endblock %}
    <!-- footer -->
    <footer>
        <div class="row w-100">
            <div class="col-lg-3" id="footer_1" style="padding-top: 3%;">
                <center style="margin-top: 20%;">
                    <img src="{% static 'images/footer_logo.png' %}" />
                    <h5 style="color:white; margin-top: 2%;">COPYRIGHT 2020</h5>
                    <h6 style="color:white;">All Rights Reserved.</h6>
                </center>
            </div>
            <div class="col-lg-3" id="footer_1">
                <div class="list-group" style="padding-left:5%;">
                    <hr style="border-color:white; width:100%; margin-top: 20%; margin-bottom: 2rem;">
                    <p style="color:#c1b4b4; font-size:14px;">Located in the heart of the Nagpur city, LOC is a bright, airy space and has become Nagpur’s favourite hangout for tea. It’s a break from the outside world</p>
                    <hr style="border-color:white; width:100%;">
                    <a style="margin-top:2%; color: darkgray;" href="/team" class="list_nav">TEAM</a>
                    <a style="margin-top:2%; color: darkgray;" href="/products" class="list_nav">PRODUCT</a>
                    <a style="margin-top:2%; color: darkgray;" href="/media" class="list_nav">MEDIA</a>
                </div>
            </div>
            <div class="col-lg-2" id="footer_2">
                <hr style="border-color:white; width:100%; margin-top: 29%;">
                <div class="list-group" style="padding-top: 5%;padding-left:5%;">
                    <a style="margin-top:3%; color: darkgray;" href="/about_us" class="list_nav">ABOUT US</a>
                    <a style="margin-top:3%; color: darkgray;" href="/store_locator" class="list_nav">STORE LOCATOR</a>
                    <a style="margin-top:3%; color: darkgray;" href="/blog" class="list_nav">BLOG</a>
                    <a style="margin-top:3%; color: darkgray;" href="/franchise" class="list_nav">FRANCHISE</a>
                    <a style="margin-top:3%; color: darkgray;" href="/career" class="list_nav">CAREER</a>
                    <a style="margin-top:3%; color: darkgray;" href="/contact_us" class="list_nav">CONTACT</a>
                </div>
            </div>
            <div class="col-lg-4" id="footer_2">
                <div style="padding-top: 20%; padding-left:5%;">
                    <h4 style="color:white;">SUBSCRIBE TO OUR NEWSLETTER</h4>
                    <small style="color:white;">We'll send you news & special offers twice a month.</small>
                    {% csrf_token %}
                    <div class="input-group" style="padding:1%; margin-top: 3%;">
                        <input type="email" class="form-control" placeholder="Enter your email" id="newsletter_email" name="newsletter_email">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="submit" id="subscribe_to_newsletter">SUBSCRIBE</button>
                        </span>
                    </div>
                    <div style="margin-top:2%" class="list-group">
                        <h4 style="color:white;">FOLLOW US</h4>
                        <div class="social-btn">
                            <a href="https://www.facebook.com/LocLifeOfChai" class="icon-button">
                                <img src="{% static 'images/fb.png' %}" />
                                <span></span></a>
                            <a href="https://www.instagram.com/loc_lifeofchai/" class="icon-button">
                                <img src="{% static 'images/insta.png' %}" />
                                <span></span></a>
                            <a href="https://plus.google.com" class="icon-button google-plus">
                                <img src="{% static 'images/mail.png' %}" />
                                <span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% if alert_message %}
    <div class="myAlert-bottom alert alert-{{msg_type}} animated fadeInUp" role="alert">
        {{alert_message}}
    </div>
    {% endif %}
    <div class="send_alerts">
    </div>
    <script>
    $(".alert").fadeTo(5000, 500).slideUp(500, function() {
        $(".alert").slideUp(500);
    });
    </script>
</body>
</html>
<script type="text/javascript">
$(document).ready(function() {

    $('.meat').click(function() {
        if (($(window).width() <= 768) | /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            event.preventDefault();
            alert('mobile! No links workinf');
        } else {
            $('#meatModalImg').attr('src', $(this).data('img'));
            $('#meatModal').modal({ show: true })
        }
    });

    $('ul.nav li.dropdown').hover(function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });


    $('.items').slick({
        dots: true,
        infinite: true,
        speed: 800,
        autoplay: true,
        autoplaySpeed: 2000,
        slidesToShow: 2,
        slidesToScroll: 3,
        responsive: [{
                breakpoint: 1024,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
            }

        ]
    });
});
// get the reach out form details and send ajax request


$(".contact_button").click(function() {
    var data = {
        'name': $("#name").val(),
        'email': $("#email").val(),
        'phone_number': $("#phone_number").val(),
        'msg': $("#msg").val(),
    };
    $.ajax({
        type: 'POST',
        url: '/reach_out_form',
        data: data,
        success: function(msg) {
            if (msg == "success") {
                var alert_div = '<div class="myAlert-bottom alert alert-success animated fadeInUp" role="alert">We have heard you.</div>';
                $('#reach_out_form')[0].reset();
                $(".send_alerts").append(alert_div);
                $(".alert").fadeTo(5000, 500).slideUp(500, function() {
                    $(".alert").slideUp(500);
                });

            }
        }
    });
});

$("#subscribe_to_newsletter").click(function() {
    var data = {
        'email': $("#newsletter_email").val(),
    };
    $.ajax({
        type: 'POST',
        url: '/newsletter_subscription',
        data: data,
        success: function(msg) {
            var alert_div = '<div class="myAlert-bottom alert alert-success animated fadeInUp" role="alert">You have been subscribed.</div>';
            if (msg == 'False') {
                var alert_div = '<div class="myAlert-bottom alert alert-warning animated fadeInUp" role="alert">You have been already subscribed.</div>';
            }
            $(".send_alerts").append(alert_div);
            $(".alert").fadeTo(5000, 500).slideUp(500, function() {
                $(".alert").slideUp(500);
            });


        }
    });
});
</script>
<!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9333103.js"></script>
<!-- End of HubSpot Embed Code -->