{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div style="width:55%;">
        <div style="height:100%; background : url('{% static 'images/photo-back.jpg' %}');background-repeat: round;">
            <div style="height: 100%;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div class="header_nav">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto nav-fill w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="/" style="color:white; ">HOME</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/about_us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; ">ABOUT US</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item about_item" href="/about_us" style="color:black;">ABOUT US</a>
                                    <a class="dropdown-item about_item" href="/career" style="color:black;">CAREER</a>
                                    <a class="dropdown-item about_item" href="/media" style="color:black;">MEDIA</a>
                                    <a class="dropdown-item about_item" href="/team" style="color:black;">TEAM</a>
                                    <a class="dropdown-item about_item" href="/store_locator" style="color:black;">STORE LOCATOR</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products" style="color:white; ">PRODUCTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/franchise" style="color:white; ">FRANCHISE</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="main_header_div" style="margin-top: 10%;">
                <span id="div_3_text">BLOG</span>
            </div>
        </div>
    </div>
    <div style="width:44%;">
        <div style="width:100%;">
            <div style="display: flex; position: relative; top:5%;">
                <nav class="navbar navbar-expand-lg w-100">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-fill w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog_page" style="color:black; ">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact_us" style="color:black; ">CONTACT US</a>
                        </li>
                    </ul>
                    <img src="{% static 'images/header_logo.png' %}" />
                </div>
            </nav>
            </div>
            <div>
            <img class="image-responsive" src="{% static 'images/blogs-photo.png' %}" />
        </div>
        </div>
    </div>
</div>
<center style="margin-top: 3%; margin-bottom: 3%;">
    <h1 style="font-size: 68px; color: black; font-weight: bold;">BLOGS</h1>
    <center style="font-size: 22px;">
        <span>Every Cup has a story. Grab your cup and cuddle up to your<br>
            device of choice and read some amusingly wonderful LOC <br>
        stories. Just dont't spill.</span> 
    </center>
</center>

<div class="container">
	{% for blog_row in blogs %}
    <div class="row" style="margin-top:2%;">
    	{% for blog in blog_row %}
        <div class="col-sm">
            <!-- loop inside this -->
            <!--Card-->
            <div class="card" style="box-shadow: none; border-radius: 0px;">
			  <a target="_blank" href="blog/{{blog.slug}}">
			  	<img src="{{ blog.header_image_url}}" class="card-img-top" alt="Header Image" style="padding:2%;" height="200">
			  </a>
			  <div class="text-right" style="padding-right: 2%;">{{ blog.created_at |date:"F d, Y"}}</div>
			  <div class="card-body">
			    <a target="_blank" href="blog/{{blog.slug}}" style="text-decoration: none; color:#1d2733;" class="blog_heading">
			    	{{blog.title | safe }}
			    </a>
			    <p class="card-text">{{blog.body | striptags | safe |truncatechars:30  }}</p>
			    <center><a target="_blank" href="blog/{{blog.slug}}" class="btn btn-danger">Continue Reading</a></center>
			  </div>
			</div>
            <!--/.Card-->
        </div>
       {% endfor %}

    </div>
    {% endfor %}
</div>
{% endblock %}