{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div style="width:55%;">
        <div style="height:90%; background : url('{% static 'images/photo-back.jpg' %}');background-repeat: round;">
            <div style="height: 100%;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div class="header_nav">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto nav-fill w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="/" style="color:white; ">HOME</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/about_us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; ">ABOUT US</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item about_item" href="/about_us" style="color:black;">ABOUT US</a>
                                    <a class="dropdown-item about_item" href="/career" style="color:black;">CAREER</a>
                                    <a class="dropdown-item about_item" href="/media" style="color:black;">MEDIA</a>
                                    <a class="dropdown-item about_item" href="/team" style="color:black;">TEAM</a>
                                    <a class="dropdown-item about_item" href="/store_locator" style="color:black;">STORE LOCATOR</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products" style="color:white; ">PRODUCTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/franchise" style="color:white; ">FRANCHISE</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="main_header_div">
                <h3 id="div_1_text">We're all about great Tea here. Maybe you are too.</h3>
                <p id="div_3_text">CAREERS</p>
            </div>
        </div>
    </div>
    <div style="width:44%;">
        <div style="width:100%;">
            <div style="display: flex; position: relative; top:5%;">
                <nav class="navbar navbar-expand-lg w-100">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-fill w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog_page" style="color:black; ">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact_us" style="color:black; ">CONTACT US</a>
                        </li>
                    </ul>
                    <img src="{% static 'images/header_logo.png' %}" />
                </div>
            </nav>
            </div>
            <div>
            <img src="{% static 'images/career/01.jpg' %}" width="100%" height="675" />
        </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="margin-top:5%; margin-bottom: 5%;">
        <center>
            <h1 style="color:black; font-size: 68px; font-weight: bolder;">Let's start something</h1>
        </center>
        <center>
            <h1 style="color:black; font-size: 68px; font-weight: bolder;">BIG Together</h1>
        </center>
    </div>
</div>
<div class="row">
    <div style="margin-top: 5%; width:100%; position: absolute; height: 100%;">
        <div style="background-color: #a40207;  height: 10%;"></div>
        <div style="background-color: #212531;  height: 10%;"></div>
    </div>
    
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <center>
            <div class="card" style="padding-left: 5%; border-radius: 0px;box-shadow: none;">
                <img src="{% static 'images/career/Group_606.png' %}" alt="Header Image" style="float:left; padding:2%" width=100 height=100>
                <div class="card-body text-left">
                    <p class="blog_heading">Email</p>
                    <p>You would like us to send us your request in the form of email. No Problem!</p>
                    <p style="color:red;">info@lifeofchai.in</p>
                </div>
            </div>
        </center>
    </div>
    <div class="col-md-4">
        <center>
            <div class="card" style="padding-left: 5%; border-radius: 0px;box-shadow: none;">
                <img src="{% static 'images/career/Group_608.png' %}" alt="Header Image" style="float:left; padding:2%" width=100 height=100>
                <div class="card-body text-left">
                    <p class="blog_heading">Contact Form</p>
                    <p>You would like us to send us your request in the form of email. No Problem!</p>
                    <a href="/contact_us#contact_us_form"> <p style="color:red;">Fill Out Contact Us form</p></a>
                </div>
            </div>
        </center>
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row" style="margin-top:5%; margin-bottom: 5%;">
    <div class="col-md-2">
        <div style="margin-top: 5%; width:100%; height: 100%;">
        <div style="background-color: #a40207;  height: 30%; width:70%; border-radius: 0 5px 0 5px; transform: skewX(-10deg);"></div>
        <div style="background-color: #212531;  height: 30%; margin-left: 30%; margin-top: -5%; transform: skewX(-10deg); border-radius: 0 5px 5px 5px;"></div>
    </div>
    </div>
    <div class="col-md-8">
    <div>
        <center>
            <h1 style="color: grey;">Vacancies at our Company</h1>
        </center>
        <center>
            <h1  style="color:black; font-size: 62px; font-weight: bold;">Your Chance to start your career</h1>
        </center>
    </div>
</div>
</div>
<div class="container" style="margin-bottom: 5%;">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="box-shadow: none; border-radius: 0px;">
                <img src="{% static 'images/career/Account_Assistant.png' %}" class="card-img-top" alt="Header Image">
                <div class="card-body">
                    <a target="_blank" style="text-decoration: none; color:#1d2733;" class="blog_heading">
                        Account Assitant
                    </a>
                    <p class="card-text card-text-career" id="career-1">We are looking for Accounts assistant to provide administrative support to accountants, undertaking clerical tasks such as typing, filing, making phone calls, handling mail and basic bookkeeping.</p>
                    <a><button class="btn" style="color:red" id="view_more_button-1">View More</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="box-shadow: none; border-radius: 0px;">
                <img src="{% static 'images/career/Cafe_Store_Manager.jpg' %}" class="card-img-top" alt="Header Image">
                <div class="card-body">
                    <a target="_blank" style="text-decoration: none; color:#1d2733;" class="blog_heading">
                        Cafe Store Manager
                    </a>
                    <p class="card-text card-text-career" id="career-2">We are looking for Store Manager whose responsibilities include scheduling shifts for staff, monitoring daily expenses and revenues and ordering supplies like coffee, milk and snacks, as needed. To be successful in this role you should have work experience with various roles in coffee shops.</p>
                    <a><button class="btn" style="color:red" id="view_more_button-2">View More</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="box-shadow: none; border-radius: 0px;">
                <img src="{% static 'images/career/Digital_marketing.jpg' %}" class="card-img-top" alt="Header Image">
                <div class="card-body">
                    <a target="_blank" style="text-decoration: none; color:#1d2733;" class="blog_heading">
                        Digital Marketing
                    </a>
                    <p class="card-text card-text-career" id="career-3">We are looking for executive assisting in the formulation of strategies to build a lasting digital connection with consumers. Planning and monitoring the ongoing company presence on social media.</p>
                    <a><button class="btn" style="color:red" id="view_more_button-3">View More</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#view_more_button-1").click(function(){
        $("#career-1").removeClass("card-text-career");
    });
    $("#view_more_button-2").click(function(){
        $("#career-2").removeClass("card-text-career");
    });
    $("#view_more_button-3").click(function(){
        $("#career-3").removeClass("card-text-career");
    });
</script>
{% endblock %}