{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div style="width:55%;">
        <div style="height:90%; background : url('{% static 'images/photo-back.jpg' %}');background-repeat: round;">
            <div style="height: 100%;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div class="header_nav">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto nav-fill w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="/" style="color:white; ">HOME</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/about_us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; ">ABOUT US</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item about_item" href="/about_us" style="color:black;">ABOUT US</a>
                                    <a class="dropdown-item about_item" href="/career" style="color:black;">CAREER</a>
                                    <a class="dropdown-item about_item" href="/media" style="color:black;">MEDIA</a>
                                    <a class="dropdown-item about_item" href="/team" style="color:black;">TEAM</a>
                                    <a class="dropdown-item about_item" href="/store_locator" style="color:black;">STORE LOCATOR</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products" style="color:white; ">PRODUCTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/franchise" style="color:white; ">FRANCHISE</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="main_header_div">
                <h3 id="div_1_text">Let's stay in touch! <br> Connect & Inspire us</h3>
                <div style="padding-left: 15%;">
                    <h3 class="display-3" style="font-weight: bolder;color: white;">CONNECT</h3>
                    <h3 class="display-3" style="font-weight: bolder;color: white;">WITH US</h3>
                </div>
            </div>
        </div>
    </div>
    <div style="width:44%;">
        <div style="width:100%;">
            <div style="display: flex; position: relative; top:5%;">
                <nav class="navbar navbar-expand-lg w-100">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-fill w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog_page" style="color:black; ">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact_us" style="color:black; ">CONTACT US</a>
                        </li>
                    </ul>
                    <img src="{% static 'images/header_logo.png' %}" />
                </div>
            </nav>
            </div>
            <div>
             <img src="{% static 'images/connect_us_banner.png' %}" width="100%" height="675" />
        </div>
        </div>
    </div>
</div>
<center style="margin-top: 3%; margin-bottom: 3%;">
    <h1 style="font-size: 68px; color: black; font-weight: bold;">CONTACT US</h1>
    <center style="font-size: 22px;">
        <span>LOC is growing, innovative, socially conscious tea-oriented cafe, where everyone <br>
            contributes to our success. If you'd like to join our dynamic group of tea fanatics, we'd love</span>
        <br>
        <br>
        <span class="text-uppercase">For any feedback or suggestions, please get in touch with us via:</span><br>
        <span>Customer Service Mobile No: +91 7020957114 - Email: <span style="color: red;">info@lifeofchai.in</span></span>
    </center>
</center>
<div class="container" style="margin-bottom: 5%;margin-top: 5%; ">

    <div class="row">
        <div class="col-md-6" style="background:#a21b1b; ">
            <div style="margin-left: 5%; margin-top: 10%;margin-bottom: 10%;">
                <h1 style="color:white; font-weight: bold; font-size: 40px;">LOC : LIFE OF CHAI</h1>
                <div style="margin-top: 10%; font-size: 20px;">
                    <p style="color:#c1b4b4;">Plot no 09, Gahukar Complex,</p>
                    <p style="color:#c1b4b4;">Opposite to Arena Gym</p>
                    <p style="color:#c1b4b4;">Manewada Square</p>
                    <p style="color:#c1b4b4;">Nagpur, Maharashtra 440024</p>
                    <p style="margin-top: 5%;color:#c1b4b4;">Phone No : +91 7020957114</p>
                </div>
            </div>
        </div>
        <div style="background: #20303d;" class="col-md-6" id="contact_us_form">
            <form method="POST" style="padding-top: 20%; margin-bottom: 20%;">
                {% csrf_token %}
                <input class="input_group_contact_us" type="text" placeholder="Name" name="name"><br>
                <input class="input_group_contact_us" type="email" placeholder="Email" name="email"><br>
                <input class="input_group_contact_us" type="number" placeholder="Phone Number" name="phone"><br>
                <input class="input_group_contact_us" id="exampleFormControlTextarea1" placeholder="Message" name="msg"></input>
                <br>
                <center>
                    <button class="btn btn-danger" type="submit" onsubmit="clearContactUsform()">Submit</button>
                </center>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function clearContactUsform(){
        $('#contact_us_form')[0].reset();
    }
</script>
{% endblock %}