<!DOCTYPE html>
{% if request.session.username %}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LOC Create Blog Page</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <center>
                <h3>Create Blog</h3>
            </center>
            <form action="/create_blog" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleFormControlInput1">Blog Title</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Blog Title" required name="title">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Blog Header Image</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Paste Imgur Link Here" required name="header_img_url">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Meta Tags</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Meta Tags Comma seperated" required name="meta_tags">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Body</label>
                    <textarea class="form-control" id="summernote" name="blog_body"></textarea>
                </div>
                <div class="row">
                    <div id="preview_blog_btn" class="btn btn-warning">Preview Blog</div>
                    <button type="submit" class="btn btn-primary">Create Blog</button>
                </div>
            </form>
            <div class="card w-100">
                <div class="card-body">
                    <p class="card-text " id="preview_blog"></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script type="text/javascript">
$(document).ready(function() {
    $('#summernote').summernote({
        placeholder: 'Enter Blog Body Over Here',
        tabsize: 2,
        height: 100,
    });

    $("#preview_blog_btn").click(function() {
        var markupStr = $('#summernote').summernote('code');
        $("#preview_blog").html(markupStr);
    });
});
</script>
{% endif %}