{% extends "base.html" %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="/" style="  color:black;">HOME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/about_us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" ">ABOUT US</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item about_item" href="/about_us">ABOUT US</a>
                        <a class="dropdown-item about_item" href="/career">CAREER</a>
                        <a class="dropdown-item about_item" href="/media">MEDIA</a>
                        <a class="dropdown-item about_item" href="/team">TEAM</a>
                        <a class="dropdown-item about_item" href="/store_locator">STORE LOCATOR</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products" style=" ">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/franchise" style=" ">FRANCHISE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog_page" style=" ">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact_us" style=" ">CONTACT US</a>
                </li>
            </ul>
            <img src="{% static 'images/header_logo.png' %}"  />
        </div>
    </nav>
<div class="row">
    <div class="col-md-12" style="padding-right: 0; padding-left: 0;">
        <div style="margin-top: 15%; margin-left: 10%; position: absolute;">
            <h3 class="display-3" style="font-weight: bolder;color: white;">BE A PART OF <br>THE FAMILY</h3>
        </div>
        <div style="width:100%;">
            <img class="image-responsive" src="{% static 'images/franchise/banner.jpg' %}" width="100%" height="600" />
        </div>
    </div>
</div>
<center style="margin-top: 3%; margin-bottom: 3%;">
    <h1 style="color:black;font-size: 68px;">FRANCHISE</h1>
    <div style="margin-left:10%;font-size:24px;">
        <div><span class="first_letter_cap">W</span>e look for the one that not only celebrate tea but also connection</div>
        <div>At LOC, we are keen to help deserving youngsters who want to break into business on</div>
        <div>their own. Therefore, we prefer such youngsters over experienced businessman while </div>
        <div>allotting franchise. Many youngsters from Nagpur has joined with us to fulfil their</div>
        <div>entrepreneurial dream and we are proud to be associated with them.</div>
    </div>
</center>
<div class="container" style="margin-bottom: 5%;font-family: 'Open Sans', sans-serif;">
    <h1 class="display-5" style="padding-left:10%; font-weight: bold; color:black;">WHY CHOOSE LOC?</h1>
    <div class="row">
        <div class="col-sm" style="font-size:22px;">
            <div style="margin-left: 5%; margin-top: 5%;">
                <div><span style="color:red;">LOC</span> grants you the opportunity to own your own business in an established organization that is growing at a market-beating record.</div>
                <ul style="margin-top:3%; padding: 20px;">
                    <li>Be an important link in the happiest and most loved tea family</li>
                    <li>Grow as an individual as you create, explore & express yourself.</li>
                </ul>
                <div style="margin-top:3%;">
                    We believe that you deserve to have fun at work!
                </div>
                <div style="margin-top:3%;">
                    A franchise format provides access to four key advantages:
                </div>
                <ul style="margin-top:3%;padding: 20px;">
                    <li>High brand value and marketing</li>
                    <li>Excellent products & services</li>
                    <li>Business support network</li>
                    <li>Market beating growth and win-win gains</li>
                </ul>
            </div>
        </div>
        <div class="col-sm">
            <img src="{% static '/images/franchise/cup_loc_mix.png'%}" alt="Avatar" class="image">
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 5%;font-family: 'Open Sans', sans-serif;">
    <h1 class="display-5 text-right" style="padding-right:15%; font-weight: bold; color: black;">THE LOC JOURNEY</h1>
    <div class="row">
        <div class="col-sm">
            <img src="{% static '/images/franchise/group_589.png'%}" alt="Avatar" class="image">
        </div>
        <div class="col-sm" style="font-size: 22px;">
            <div style="margin-left: 5%; margin-top: 5%;">
                <div>LOC will provide its support with regard to the following;</div>
                <div style="margin-top: 5%;">
                    <div>
                        <h3 style="color:#b41e23;">Initial Setup</h3>
                    </div>
                    <div style="margin-top:4%;">Site selection, store design & setup, vendor selection and guidance in hiring process.</div>
                    <div style="color:#b41e23; margin-top: 4%;">
                        <h3 style="color:#b41e23;">Training</h3>
                    </div>
                    <div style="margin-top:4%;">Training for the day to day operations team that will operate the store & kitchen.</div>
                    <div style="color:#b41e23; margin-top: 4%;">
                        <h3 style="color:#b41e23;">Management</h3>
                    </div>
                    <div style="margin-top:4%;">LOC will be responsible for initial selecting, hiring and training the operation team for your store. As a franchisee, you will be relieved from the hassle of operating the café and LOC will be managing digital marketing, supply chain, & quality assurance.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 5%;">
    <div class="row">
        <div class="col-md-6" style="background:#a21b1b; ">
            <div style="margin-left: 5%; margin-top: 15%;">
                <h4 style="color:white;">WHAT DOES IT TAKE TO BE A SUCCESSFULL LOC  FRANCHISE PARTNER?</h4>
                <p style="color:#c1b4b4; margin-top: 5%; font-size: 20px;">If you are:</p>
                <ul style="color:#c1b4b4;">
                    <li style="color:#c1b4b4;">Enthusiastic, ambitious, & passionate about coffee</li>
                    <li style="color:#c1b4b4;">Have the financial capacity to invest</li>
                    <li style="color:#c1b4b4;">Believe in LOC’s story & mission</li>
                    <li style="color:#c1b4b4;">Have the attitude for success and win-win</li>
                </ul>
                <p style="color:#c1b4b4; margin-top: 5%; font-size: 20px;">Then you definitely can be a part of our future</p>
                <p style="color:#c1b4b4; margin-top: 5%; font-size: 20px;">Kindly complete the Franchisee Application Form.
We will contact you to clear up any missing information, ask further questions & arrange for a meeting.</p>
            </div>
        </div>
        <div style="background: #20303d;" class="col-md-6">
            <center><h4 style="color:white; margin-top: 15%;">Please fill out the form for Franchise</h4><center>
            <form method="POST" style="padding-top: 15%; margin-bottom: 20%;" id="franchise_Form">
                {% csrf_token %}
                <input class="input_group_contact_us" type="text" placeholder="Name" name="name"><br>
                <input class="input_group_contact_us" type="email" placeholder="Email" name="email"><br>
                <input class="input_group_contact_us" type="number" placeholder="WhatsApp Number" name="phone"><br>
                <input class="input_group_contact_us" id="exampleFormControlTextarea1" placeholder="Message" name="msg"></input>
                <br>
                <center>
                    <button class="btn btn-danger" type="submit" onsubmit="submitFranchiseForm()">Submit</button>
                </center>
            </form>
            <center style="margin-bottom: 10%;">
            <a id="download_brochure_link" href="{% static 'LOC_Final_Brochure.pdf' %}" target="_blank" download="LOC_Final_Brochure.pdf"><button class="btn btn-success">Download Brochure</button></a>
        </center>
        </div>
    </div>
</div>
<script type="text/javascript">
    function submitFranchiseForm(){
        $('#franchise_Form')[0].reset();
        $("#download_brochure_link").show();
    }
</script>
{% endblock %}