{% extends "base.html" %}
{% load static %}
{% block content %}
     <script src="https://cdn.tailwindcss.com"></script>

<div class="row w-screen">
    <div style="width:55%;">
        <div style="height:100%; background : url('{% static 'images/photo-back.jpg' %}');background-repeat: round;">
            <div style="height: 100%;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div class="header_nav">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto nav-fill w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="/" style="color:white; ">HOME</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/about_us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; ">ABOUT US</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item about_item" href="/about_us" style="color:black;">ABOUT US</a>
                                    <a class="dropdown-item about_item" href="/career" style="color:black;">CAREER</a>
                                    <a class="dropdown-item about_item" href="/media" style="color:black;">MEDIA</a>
                                    <a class="dropdown-item about_item" href="/team" style="color:black;">TEAM</a>
                                    <a class="dropdown-item about_item" href="/store_locator" style="color:black;">STORE LOCATOR</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products" style="color:white; ">PRODUCTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/franchise" style="color:white; ">FRANCHISE</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="main_header_div">
                <h3 id="div_1_text">Happiness right in your cup !</h3>
                <span id="div_2_text">Nagpur's Favourite</span>
                <span id="div_3_text">Chai Point</span>
                <br>
                <a href="/products#product_page"><button id="div_4_button" type="button" class="btn btn-outline-secondary">View Best Tea</button></a>
            </div>
        </div>
    </div>
    <div style="width:45%;">
        <div style="width:100%;">
            <div style="display: flex; position: relative; top:5%;">
                <nav class="navbar navbar-expand-lg w-100">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-fill w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog_page" style="color:black; ">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact_us" style="color:black; ">CONTACT US</a>
                        </li>
                    </ul>
                    <img src="{% static 'images/header_logo.png' %}" />
                </div>
            </nav>
            </div>
            <div>
            <img class="h-screen object-cover" src="{% static 'images/Home_Page_Cover_Photo.jpg' %}" />
        </div>
        </div>
    </div>
</div>
<div class="row w-100" style="margin-top: 8%;">
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div style="width:100%;">
            <img class="image-responsive" src="{% static 'images/02.jpg' %}" />
        </div>
    </div>
    <div class="col-md-6" style="padding-right: 0; padding-left: 0;">
        <div style="color:black; height:100%; background-color: white; padding-left: 5%;">
            <div class="container">
                <h1 class="display-4" style="font-weight: bolder;color:black; font-size: 68px; margin-top:-2%;">LIFE OF CHAI</h1>
                <p style="font-size:28px; font-weight: lighter; color:#574d4d;">Happiness right in your cup !</p>
                <p><span class="first_letter_cap">L</span><span style="font-size:24px; font-weight: lighter;">ocated in the heart of the Nagpur city, LOC is a bright, airy space and has become Nagpur’s favourite hangout for tea. It’s a break from the outside world;<br>
                        A place where you don’t just appreciate chai but conversations and connections too. Being with the first outlet setup in Manewada square, LOC has rapidly grown; Today, LOC has over 8 branches across Nagpur and other cities, serving more than 7,500 cups of happiness daily and is set to win over not only Maharashtra, but entire India.
                    </span></p>
            </div>
        </div>
    </div>
</div>
<div class="w-100">
    <div class="col-md-6" style="padding-left: 5%; padding-top: 3%;">
        <div id="row">
            <h1 class="display-4" style="font-weight: bolder;color:black; font-size: 68px; margin-bottom: 2%;">Featured dishes that people Like</h1>
            <span class="first_letter_cap">W</span><span style="font-size:24px; font-weight: lighter;">e're passionate about tea and great food to enjoy with. There are so many bite-small snacks that perfectly complement a cup of our chai.</span>
        </div>
    </div>
</div>
<div id="content" style="margin-top: 3%;">
    <div class="row">
        <div class="col-md-3">
            <div class="h-full img_container" >
                <img src="{% static '/images/Adrak_Chai.jpg'%}" alt="Avatar" class="h-full object-cover">
                <div class="overlay">
                    <div class="text text-center">
                        <p style="font-size: 26px; color:white;">ADRAK CHAI</p>
                        <p style="font-size: 16px; color:white; margin-left: 10%; margin-right: 10%;">Fresh hand pounded ginger is added to your Chai and brewed to perfection. Made with fresh full cream milk and the best tea leaves from Assam.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="h-full img_container">
                <img src="{% static '/images/Cold_Coffee.jpg'%}" alt="Avatar" class="h-full object-cover">
                <div class="overlay">
                    <div class="text text-center">
                        <p style="font-size: 26px;color:white;">Cold Coffee</p>
                        <p style="font-size: 16px;color:white;margin-left: 10%; margin-right: 10%;">A medley of thick cream milk, strong coffee decoction, and chocolate come together over ice for an earthy heat beater.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="h-full img_container">
                <img src="{% static '/images/LOC_Special_Maggi.jpg'%}" alt="Avatar" class="h-full object-cover">
                <div class="overlay">
                    <div class="text text-center">
                        <p style="font-size: 26px;color:white;">LOC Special Maggi</p>
                        <p style="font-size: 16px;color:white;margin-left: 10%; margin-right: 10%;">A classic preparation of maggi tossed with an assortment of veggies & topped with cheese & mayo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="h-full img_container">
                <img src="{% static '/images/Silk_Blend_Coffee.jpg'%}" alt="Avatar" class="h-full object-cover">
                <div class="overlay">
                    <div class="text text-center">
                        <p style="font-size: 26px;color:white;">Silk Blend Coffee</p>
                        <p style="font-size: 16px;color:white;margin-left: 10%; margin-right: 10%;">A super smooth coffee made from blend that includes Arabica and Robusta beans handpicked from the finest coffee estates</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row w-100" style="padding-left:5%; padding-top:10%;">
    <div class="col-md-6">
        <div style="width:100%;">
            <img src="{% static 'images/Group_659.png' %}"/>
        </div>
    </div>
    <div class="col-md-6">
        <div class="jumbotron-fluid" style="background-color: white; color:black; height:100%;">
            <p style="font-size:28px; font-weight: lighter;">Happiness is what matters</p>
            <p style="font-size:68px; margin-top: -4%; color:black; font-weight: bolder;">Happy Customers</p>
            <p id="loc_heading_5"><span class="first_letter_cap">M</span>ake greatness happen, build great relationships along the way”-That’s our motto here at LOC and we’re glad to have the customers we do. </p>
            <p id="loc_heading_5">We believe the best way to acquire new customers is to make your current customers excited and happy about your products.
            </p>
            <div style="margin-top:5%;"><a href="/about_us#photos">
                <button type="button" class="btn btn-danger bg-red-500 rounded-lg">View More <i class="fa fa-arrow-right" style="display:inline; color:white;"></i></button></a>
            </div>
        </div>
    </div>
</div>
<div class="container_divide1">
    <div class="row">
        <div class="col-md-3">
            <div><img src="{% static '/images/07.jpg'%}" width="100%" /></div>
            <br>
            <div><img src="{% static '/images/08.jpg'%}" width="100%" /></div>
        </div>
        <div class="col-md-3"> <img src="{% static '/images/DSC_0119-copy.jpg'%}" height="69%;" />
        </div>
        <div class="col-md-5"> <img src="{% static '/images/Group_660.png' %}"  width="100%;" />
        </div>
    </div>
</div>
<div>
    <center style="font-size: 32px;">TESTIMONIALS</center>
    <center style="font-size:70px; color:black; font-weight: bolder;">They Love Us.</center>
    <div class="items">
        <div class="card">
            <div class="card-body reviews_background" style="background-color: #20303D;">
                <div class="template-demo">
                    <p style="color:white;opacity: 0.7;">The best way to bring yourself out from the exhaustion of whole day is to bring yourself to LOC! Life of Chai..  Where they spread an essence of <b style="color:white;">Maa Ka Dular</b> into a cup of Tea. It has refreshing varieties of Tea, Coffee and Shakes maintaining the same quality and taste every time. The newly introduced dishes add more <b style="color:white;">Chaar Chaand</b> to it. This is place where things seems to be emerging good vibes of enthusiasm and passion!</p>
                </div>
                <div class="row">
                        <div class="profile">
                            <h4 class="cust-name" style="color:white;">Apurva Wankhade</h4>
                            <p class="cust-profession" style="color:white;">Social Worker</p>
                        </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body reviews_background" style="background-color: #B41E23;">
                <div class="template-demo">
                    <p style="color:white;opacity: 0.7;">LOC is an amazing place to hang out with your loved ones. The ambience & friendly service provided by owner and employees makes you feel like home. Also the shop scores well in cleanliness and hygiene as compared to other brands. Regarding Chai ,it's like the more you drink it the more you love it .</p>
                </div>
                <div class="row">
                        <div class="profile">
                            <h4 class="cust-name" style="color:white;">Pankaj Kale</h4>
                            <p class="cust-profession" style="color:white;">Civil Engineer</p>
                        </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body reviews_background" style="background-color: #20303D;">
                <div class="template-demo">
                    <p style="color:white;opacity: 0.7;">LOC is heaven for people having Love for Chai. I was a chai addict year ago, but since then I started my weight loss journey I had to quit it & finally after one and half year of fast, the aroma of this tea forced me to try that out.
                    </p>
                    <p style="color:white; opacity: 0.7">
                    Amazing!! was the word which came out from mouth after the first sip.
                    </p>
                </div>
                <div class="row">
                        <div class="profile">
                            <h4 class="cust-name" style="color:white;">Shoeb Meman</h4>
                            <p class="cust-profession" style="color:white;">Food Blogger & Social Worker</p>
                        </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body reviews_background" style="background-color: #B41E23;">
                <div class="template-demo">
                    <p style="color:white;opacity: 0.7;">Kudos to the founders of LOC for coming up with this concept of tea cafe. With every sip of tea here at LOC , I literally feel that it's not only about ingredients that makes it special but the unique ambiance and vibrations of the place matures the tea to its zenith. With whatever mood you may come here, one thing is guaranteed- you will be leaving it satisfied and refreshed.</p>
                </div>
                <div class="row">
                        <div class="profile">
                            <h4 class="cust-name" style="color:white;">Kartik Patel</h4>
                            <p class="cust-profession" style="color:white;">Civil Engineer</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<center style="font-size:70px; color:black; margin-top: 10%; font-weight: bold;">Let's Talk</center>
<center style="font-size:24px;"><span class="first_letter_cap">W</span>e would love to hear from you, and there's lots of ways to reach out and stay connected.</center>
<center style="font-size:24px;">Now,go grap a cup of tea, and let's get to know each other.</center>
<div class="contact_container mt-xl-5 mb-5">
    <div class="d-flex flex-row justify-content-center">
        <form class="col-md-8" method="POST" id="reach_out_form">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" style="border : 1px solid #ddd;">
                            <input class="form-control" id="name" type="text" required placeholder="Your Name" name="name">
                        </div>
                        <div class="form-group" style="border : 1px solid #ddd;">
                            <input class="form-control" id="email" type="email" required placeholder="Your Email" name="email">
                        </div>
                        <div class="form-group" style="border : 1px solid #ddd;">
                            <input class="form-control" id="phone_number" type="tel" required placeholder="Your Phone" name="phone_number">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group" style="border : 1px solid #ddd;">
                            <textarea name="msg" id="msg" cols="10" rows="6" class="form-control" placeholder="Your Message" style="height:150px;"></textarea>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center w-100" style="margin-top:2%;"> <input type="button" value="Send Message" class="contact_button btn btn-danger btn btn-danger bg-red-500 rounded-lg"> </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}