{% extends "admin_base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid px-xl-5">
        <section class="py-5">
            <div class="card">
                <div class="card-header">
                    <h6 class="text-uppercase mb-0">NewsLetter Subscription Data Table</h6>
                  </div>
                  <div class="card-body">
                    <table id="newsletterTable" class="table table-striped card-text v" 
             data-toggle="table"
             data-search="true"
             data-filter-control="true" 
             data-show-export="true"
             data-click-to-select="true"
             data-toolbar="#toolbar">
                    <thead>
                        <tr>
                            <th scope="col">Sr No</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in newsletter %}
                            <tr>
                                <td>{{row.id}}</td>
                                <td>{{row.email}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </section>
    </div>
<script type="text/javascript">
    var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
              exportDataType: $(this).val(),
              exportTypes: ['csv'],
            });
        });
    })

        var trBoldBlue = $("table");

    $(trBoldBlue).on("click", "tr", function (){
            $(this).toggleClass("bold-blue");
    });
</script>
{% endblock %}