{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div style="width:55%;">
        <div style="height:90%; background : url('{% static 'images/photo-back.jpg' %}');background-repeat: round;">
            <div style="height: 100%;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div class="header_nav">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto nav-fill w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="/" style="color:white; ">HOME</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/about_us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; ">ABOUT US</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item about_item" href="/about_us" style="color:black;">ABOUT US</a>
                                    <a class="dropdown-item about_item" href="/career" style="color:black;">CAREER</a>
                                    <a class="dropdown-item about_item" href="/media" style="color:black;">MEDIA</a>
                                    <a class="dropdown-item about_item" href="/team" style="color:black;">TEAM</a>
                                    <a class="dropdown-item about_item" href="/store_locator" style="color:black;">STORE LOCATOR</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products" style="color:white; ">PRODUCTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/franchise" style="color:white; ">FRANCHISE</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="main_header_div">
                <h3 id="div_1_text">Happiness is just a cup away from you !</h3>
                <div style="padding-left: 15%;">
                    <h3 class="display-3" style="font-weight: bolder;color: white;">CUP</h3>
                    <h3 class="display-3" style="font-weight: bolder;color: white;">OF TEA</h3>
                </div>
            </div>
        </div>
    </div>
    <div style="width:44%;">
        <div style="width:100%;">
            <div style="display: flex; position: relative; top:5%;">
                <nav class="navbar navbar-expand-lg w-100">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-fill w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog_page" style="color:black; ">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact_us" style="color:black; ">CONTACT US</a>
                        </li>
                    </ul>
                    <img src="{% static 'images/header_logo.png' %}" />
                </div>
            </nav>
            </div>
            <div>
             <img  src="{% static 'images/cup_of_tea/01.png' %}" height="620" width="100%" />
             <div style="position: absolute; margin-left: -15%; margin-top: -28%; margin-right: 35%;">
        <img src="{% static '/images/cup_of_tea/02.png'%}" alt="Avatar" >
    </div>
        </div>

        </div>
    </div>
</div>
<div class="container" style="margin-top: 5%;, margin-bottom: 5%;">
    <center>
        <div style="width:80%;">
            <h1 style="color:black; font-size: 68px; font-weight: bold; margin-bottom: 2%;">To Drink | To Eat</h1>
            <span style="font-size: 24px;"><span class="first_letter_cap">O</span>ur style is OPEN, RELAXED and FRIENDLY and as we say… <br>
                <p>“Where there is a tea, there is a way. So, we will make sure to make your mornings better and
                nights longer with our super energizing tea & snacks that will drive your weekend in full speed.”
                Come and join us ! Let’s the chai do its magic.</p>
        </div>
    </center>
</div>
<a name="product_page"></a>
<div class="container" style="margin-top:5%; margin-bottom: 5%;" >
    <ul class="nav nav-tabs nav-pills nav-fill" id="myTab" role="tablist" style="margin-bottom: 2%;">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tea" role="tab" aria-controls="tea">TEA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#coffee" role="tab" aria-controls="coffee">HOT BEVERAGES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#snacks" role="tab" aria-controls="snacks">SNACKS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#shakes" role="tab" aria-controls="shakes">SHAKES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#accompaniments" role="tab" aria-controls="accompaniments">ACCOMPANIMENTS</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tea" role="tabpanel">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-7 padding-0">
                        <div class="row row-flex h-50">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Tea/Masala_Chai.jpg'%}" alt="Avatar" class="image" 
                                style="object-fit: cover;height: 100%;">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Lemon Tea
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
                                font-size: 14px;
                                opacity: 0.7;">
                                    Our Lemon Chai is fresh and light, brewed to perfection with freshly squeezed lemon to give it a tangy twist.
                                </div>
                            </div>
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Tea/Mara_Mari_Chai.jpg'%}" alt="Avatar" class="image"
                                style="object-fit: cover;height: 100%;">
                            </div>
                        </div>
                        <div class="row row-flex h-50">
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Masala Tea
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                     A handpicked blend of 6 spices - cardamom, pepper, staranise, clove, ginger & cinnamon are infused to brew your refreshing cup of Chai. 
                                    
                                </div>
                            </div>
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Tea/Lemon_Tea.jpg'%}" alt="Avatar" class="image"
                                style="object-fit: cover;height: 100%;">
                            </div>
                            
                            <div class="col-sm padding-0" style="background-color: #20303D; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Mara Mari Chai
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Mixture of two different flavor elaichi & masala gives you unique taste & feeling of mara-mari between two flavor. 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 padding-0">
                        <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white; width:50%; position: absolute; height:50%;">
                                
                                <div class="card-title product_image_box vertical-center">Kullad Tea
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Our special brewed masala chai served in traditional clay kulhad.
                                </div>
                            </div>
                        <img src="{% static '/images/cup_of_tea/photo-33.png'%}" alt="Avatar" class="image"
                        style="object-fit: cover;height: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="coffee" role="tabpanel">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-7 padding-0">
                        <div class="row row-flex h-50">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Coffee/Hazelnut_Coffee.jpg'%}" alt="Avatar" class="image"
                                style="object-fit: cover;height: 100%;">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Classic Hot Coffee
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Experience the taste of authentic hot coffee at every sip!!


                                </div>
                            </div>
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Coffee/hot_chocolate.jpg'%}" alt="Avatar" class="image"
                                style="object-fit: cover;height: 100%;">
                            </div>
                        </div>
                        <div class="row row-flex h-50">
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Hazelnut Coffee
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    A gourment blend that includes Arabica & Robusta beans topped with steamed milk.
                                </div>
                            </div>
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Coffee/Classic_Hot_Coffee.jpg'%}" alt="Avatar" class="image"
                                style="object-fit: cover;height: 100%;">
                            </div>
                            
                            <div class="col-sm padding-0" style="background-color: #20303D; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Hot Chocolate
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Thick & luscious Hot Chocolate. Feels like a hug in a cup !!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 padding-0">
                        <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white; width:50%; position: absolute; height: 50%;">
                                <div class="card-title product_image_box vertical-center">Bournvita Milk
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Smooth & creamy hot bournvita milk. Who can say no to this classic beverage?
                                </div>
                            </div>
                        <img src="{% static '/images/cup_of_tea/Coffee/Bournvita_Milk.png'%}" alt="Avatar" class="image"
                        style="object-fit: cover;height: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="snacks" role="tabpanel">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-7 padding-0">
                        <div class="row row-flex h-50">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Snacks/Classic_Fries.jpg'%}" alt="Avatar" class="image" 
                                style="object-fit: cover;height: 100%;">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Potato Wedges
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Enjoy the Small pack of deliciously crsipy, 100% natural potatoes, cut into wedges and fried.
                                </div>
                            </div>
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Snacks/LOC_Special_Maggi.jpg'%}" alt="Avatar" class="image" style="object-fit: cover;height: 100%;">
                            </div>
                        </div>
                        <div class="row row-flex h-50">
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Classic Fries
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    World Famous Fries, crispy golden, fried to perfection and lightly salted.
                                </div>
                            </div>
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Snacks/Potato_Wedges.jpg'%}" alt="Avatar" class="image"
                                style="object-fit: cover;height: 100%;">
                            </div>
                            
                            <div class="col-sm padding-0" style="background-color: #20303D; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Peri Peri Maggi
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Classic Maggi tossed with an assortment of veggies & peri- peri masala.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 padding-0">
                        <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white; width:50%; position: absolute; height:50%;">
                                <div class="card-title product_image_box vertical-center">Veg Crispy VadaPav
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Crispy vada pav stuffed with veggie masala tikki.
                                </div>
                            </div>
                        <img src="{% static '/images/cup_of_tea/Snacks/Veg_Crispy_Vada_Pav.jpg'%}" alt="Avatar" class="image"
                        style="object-fit: cover;height: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="shakes" role="tabpanel">
             <div class="container">
                <div class="row row-flex">
                    <div class="col-md-7 padding-0">
                        <div class="row row-flex h-50">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Shakes/Mango_Shake.jpg'%}" alt="Avatar" class="image" style="object-fit: cover;height: 100%;">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Oreo Shake
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    A combination of crunchy Oreos , with a sinful chocolate sauce and fresh creamy milk.
                                </div>
                            </div>
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Shakes/Cold_Coffee.jpg'%}" alt="Avatar" class="image"
                                style="object-fit: cover;height: 100%;">
                            </div>
                        </div>
                        <div class="row row-flex h-50">
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Mango Shake
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Our mango shake is an all ime summer favorite that can be enjoyed all year round. Made with fresh milk and mango flavour.
                                </div>
                            </div>
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Shakes/Oreo_Shake.jpg'%}" alt="Avatar" class="image"
                                style="object-fit: cover;height: 100%;">
                            </div>
                            
                            <div class="col-sm padding-0" style="background-color: #20303D; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Thick Cold Coffee
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    A medley of thick cream milk, strong coffee decoction, and chocolate come together over ice for an earthy heat beater.  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 padding-0">
                        <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white; width:50%; position: absolute; height:50%;">
                                <div class="card-title product_image_box vertical-center">Butterscoth Shake
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    The all-time favourite Butterscotch Shake. Rich, creamy and irresistably butterscotch flavour, that will never go out of style.
                                </div>
                            </div>
                        <img src="{% static '/images/cup_of_tea/Shakes/Butterscotch_Shake.jpg'%}" alt="Avatar" class="image"
                        style="object-fit: cover;height: 100%;">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="accompaniments" role="tabpanel">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-md-7 padding-0">
                        <div class="row row-flex h-50">
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Accompaniments/Khari.jpg'%}" alt="Avatar" class="image" style="object-fit: cover;height: 100%;">
                            </div>
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Butter Toast
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Freshly toasted bread slices with more than generous dollop of butter !!
                                </div>
                            </div>
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Accompaniments/Bun_Maska.jpg'%}" alt="Avatar" class="image"
                                style="object-fit: cover;height: 100%;">
                            </div>
                        </div>
                        <div class="row row-flex h-50">
                            <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Khari
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Crispy cheese straw & palak khari that goes perfect with a cup of chai !!
                                </div>
                            </div>
                            <div class="col-sm padding-0">
                                <img src="{% static '/images/cup_of_tea/Accompaniments/Butter_Toast.jpg'%}" alt="Avatar" class="image"
                                style="object-fit: cover;height: 100%;">
                            </div>
                            
                            <div class="col-sm padding-0" style="background-color: #20303D; border: 0px; border-radius: 0px; color:white;">
                                <div class="card-title product_image_box vertical-center">Bun Maska
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Fresh & soft bun with a more than generous dollop of Butter !!

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 padding-0">
                        <div class="col-sm padding-0" style="background-color: #ae1e1e; border: 0px; border-radius: 0px; color:white; width:50%; position: absolute; height: 50%;">
                                <div class="card-title product_image_box vertical-center">Bread Jam Toast
                                </div>
                                <div class="card-body vertical-center" style="    color: white;
    font-size: 14px;
    opacity: 0.7;">
                                    Toasted bread with kissan mix fruit jam spread.
                                </div>
                            </div>
                        <img src="{% static '/images/cup_of_tea/Accompaniments/Bread_Jam_Toast.jpg'%}" alt="Avatar" class="image"
                        style="object-fit: cover;height: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="row" style="margin-top: 10%;">
        <div class="col-md-6 padding-0">
            <img src="{% static 'images/cup_of_tea/Masala_Chai_Rectangle_Photo.jpg' %}" width="60%" style="float:right;"/>
        </div>
        <div class="col-md-6 padding-0" style="margin-bottom: -5%; margin-top: -2%; ">
            <div class="card" style="height: 100%; width: 60%;background: #ae1e1e; color:white; border: 0px; border-radius: 0px;">
                <div class="card-title " >
                    <div class="product_image_combo_card_title" style="color:white; font-weight: bolder;">Masala Chai</div>
                    <p class="product_image_combo_text" style="color:white;">Let's the chai do the magic</p>
                </div>
                <div class="card-body" style="padding-left: 10%; font-size: 16px;color:white;">Take a stroll down memory lane! Made with fresh full cream milk and the best tea leaves from Assam. Feel the warmth of cardamoms in our earthy Elaichi Chai.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 padding-0">
            <div class="card" style="height: 100%; float: right; width: 70%; background: #212531;color:white;border-radius: 0px; margin-right:-10%; z-index:2">
                <div class="card-title ">
                    <div class="product_image_combo_card_title" style="color:white; font-weight: bolder;">Thick Cold Coffee</div>
                    <p class="product_image_combo_text" style="color:white;">Feels like hug in a cup!</p>
                </div>
                <div class="card-body" style="padding-left: 10%; font-size: 16px; color:white;">A medley of thick cream milk, strong coffee decoction and chocolate come together over ice for an earthy heat beater.
                </div>
            </div>
        </div>
        <div class="col-md-6 padding-0" style="margin-top: 7%; margin-bottom: -5%;">
            <img src="{% static 'images/cup_of_tea/WWW.png' %}" width="60%"/>
        </div>
    </div>
<div style="margin-left: 2%; margin-bottom: 5%; margin-top: 15%;">
    <div class="row">
        <div class="col-md-6">
            <table style="position: absolute; bottom: 0px;">
                <tr>
                    <td>
                        <img class="review_image_click img-thumbnail" id="reviews_image_1" data-id="0" src="{% static '/images/cup_of_tea/Akshay_Hore.jpg'%}" alt="Avatar" width="150" height="150" />
                    </td>
                    <td>
                        <img class="review_image_click img-thumbnail" id="reviews_image_2" data-id="1" src="{% static '/images/cup_of_tea/Doris_Singh.jpg'%}" alt="Avatar" width="150" height="150" />
                    </td>
                    <td>
                        <img class="review_image_click img-thumbnail" id="reviews_image_3" data-id="2" src="{% static '/images/cup_of_tea/Shubham_Giri.jpg'%}" alt="Avatar" width="200" height="200" />
                    </td>
                    <td>
                        <img class="review_image_click img-thumbnail" id="reviews_image_4" data-id="3" src="{% static '/images/cup_of_tea/Umesh_Wagh.jpeg'%}" alt="Avatar" width="200" height="200" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
            <img id="review_big_image_show" src="{% static '/images/cup_of_tea/Akshay_Hore.jpg'%}" alt="Avatar" width="200" height="400" />
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body" style="color:black;">
                    <div class="card-title">
                        <h3 id="review_header_name_from_image" style="color:black;">Akshay Hore</h3>
                        <h3 id="review_header_source_from_image" style="color:black;">Software Engineer</h3>
                    </div>
                    <div class="template-demo">
                        <p id="review_text_from_image">It was extreme winter when I was looking for a cup of tea and came across this shop back in Jan’19. The Huge Red board (LOC) and young crowd surprise me. I try to explore it and came to know this is Nagpur’s new Face named Life Of Chai. Since then the taste, aroma and friendly service just mesmerize me. Even now every day when I visit it always feel special and comfy to be in there.</p>
                    </div>
                    <hr>
                </div>
            </div>
            <!-- <i class="fa fa-circle" style="font-size:44px; color:#a40207; position: absolute; bottom: 0px;"></i> -->
        </div>
    </div>
</div>
<script>
$('#myTab a').on('click', function(e) {
    e.preventDefault()
    $(this).tab('show')
})
$(".review_image_click").click(function() {
    var data_id = $(this).attr("data-id");
    var image_src = $(this).attr("src");
    var name = ['Akshay Hore', 'Doris Singh', 'Shubham Giri', 'Umesh Wagh'];
    var source = ['Software Engineer', 'Facilitator', 'Mechanical Engineer', 'Chemical Engineer'];
    var text = ["It was extreme winter when I was looking for a cup of tea and came across this shop back in Jan’19. The Huge Red board (LOC) and young crowd surprise me. I try to explore it and came to know this is Nagpur’s new Face named Life Of Chai. Since then the taste, aroma and friendly service just mesmerize me. Even now every day when I visit it always feel special and comfy to be in there.",
        "There is always someone or something that has made you fell in love with Chai…....for me its LOC. This place serves the best tea in town with so much of love. One more thing that had made this place attractive for me is the story of LOC; LOC has not got its popularity just for its amazing tea but also for the passion that its founders have and their vision.",
        "It may look like your average neighborhood tea point, but LOC is anything different! I wandered in with two friends on a Friday night, and was immediately greeted by the friendly staff and incredible aroma of various teas. The counter was filling up quickly (it was almost 7:00 pm) but we managed to take a cup of tea.",
        "Best Chai Taste in entire Nagpur...must visit place for chai lover...you will find shop owners are as sweet as tea...Masala, Adrak and Elaichi all will refresh you from within but my personal favorite is Elaichi.  Recently they have started vada pav, cheese corn maggi along with lots of other stuff which you can have along with Tea and must admit they are unique in all the products they serve in terms of quality and taste."
    ];

    $("#review_text_from_image").text(text[data_id]);
    $("#review_header_name_from_image").text(name[data_id]);
    $("#review_header_source_from_image").text(source[data_id]);
    $("#review_big_image_show").attr('src', image_src);
    $(".review_image_click").css('filter', '');
    $(this).css('filter', 'blur(3px)');
});
</script>
{% endblock %}