{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Main layout-->
<div class="container">
    <!--Section: Post-->
    <section class="mt-4">
        <!--Featured Image-->
        <!--/.Featured Image-->
        <div class="card w-100">
            <img src="{{ blog.header_image_url }}" class="img-fluid" alt="Header Image">
        </div>
        <div class="card w-100">
            <div class="card-body">
                <div class="text-right" style="padding-right: 2%;">{{ blog.created_at |date:"F d, Y"}}</div>
                <center>
                    <p class="h3 my-4">{{ blog.title | safe }}</p>
                </center>
                <p class="card-text">{{ blog.body | safe }}</p>
                <br>
                <p class="h5 my-4">Author : {{blog.username}} </p>
                <br>
                <div>
                    <!-- Add font awesome icons -->
                    <ul class="list-inline col-xs-12">
                    <li class="list-inline-item"><a target="_blank" href="http://www.facebook.com/sharer.php?u={{request.build_absolute_uri}}"><i class="fa fa-facebook-square fa-3x" style="color: #3B5998"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="https://twitter.com/share?url={{request.build_absolute_uri}}"><i class="fa fa-twitter-square fa-3x" style="color: #55ACEE"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true;url={{request.build_absolute_uri}}" ><i class="fa fa-linkedin-square fa-3x" style="color: #007bb5"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="http://reddit.com/submit?url={{request.build_absolute_uri}}"><i class="fa fa-reddit-square fa-3x" style="color: #ff5700"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="#"><i class="fa fa-instagram fa-3x" style="color: #125688"></i></a></li>
                    <li class="list-inline-item"><a target="_blank" href="whatsapp://send?text={{request.build_absolute_uri}}" data-action="share/whatsapp/share"><i class="fa fa-whatsapp fa-3x" style="color: #3B5998"></i></a></li>
                </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Section: Post-->
</div>
<!--Main layout-->
<div class="container">
    <div class="row" style="margin-top:2%; margin-bottom: 2%;">
        {% for row in nextblogs %}
            <div class="card" style="width: 500px; margin-right: 2%;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                        <img src="{% static 'images/02.jpg' %}" class="card-img-top" alt="Header Image" style="padding:2%;">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <a target="_blank" href="blog/{{row.slug}}" style="text-decoration: none; color:#1d2733;"><h5 class="card-title">{{row.title}}</h5></a>
                        <p class="card-text">{{row.body | striptags | safe | slice:50 }}</p>
                        <a target="_blank" href="blog/{{row.slug}}" class="btn btn-primary">Continue Reading</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}