{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div style="width:55%;">
        <div style="height:90%; background : url('{% static 'images/photo-back.jpg' %}');background-repeat: round;">
            <div style="height: 100%;background-color: #a40207; opacity: 0.9; width:100%;">
            </div>
            <div class="header_nav">
                <nav class="navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto nav-fill w-100">
                            <li class="nav-item">
                                <a class="nav-link" href="/" style="color:white; ">HOME</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/about_us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; ">ABOUT US</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item about_item" href="/about_us" style="color:black;">ABOUT US</a>
                                    <a class="dropdown-item about_item" href="/career" style="color:black;">CAREER</a>
                                    <a class="dropdown-item about_item" href="/media" style="color:black;">MEDIA</a>
                                    <a class="dropdown-item about_item" href="/team" style="color:black;">TEAM</a>
                                    <a class="dropdown-item about_item" href="/store_locator" style="color:black;">STORE LOCATOR</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products" style="color:white; ">PRODUCTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/franchise" style="color:white; ">FRANCHISE</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div id="main_header_div">
                <h3 id="div_1_text">I can't but we can</h3>
                <p id="div_3_text">Work Together <br> For Success</p>
            </div>
        </div>
    </div>
    <div style="width:44%;">
        <div style="width:100%;">
            <div style="display: flex; position: relative; top:5%;">
                <nav class="navbar navbar-expand-lg w-100">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-fill w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/blog_page" style="color:black; ">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact_us" style="color:black; ">CONTACT US</a>
                        </li>
                    </ul>
                    <img src="{% static 'images/header_logo.png' %}" />
                </div>
            </nav>
            </div>
            <div>
             <img src="{% static 'images/our_team/banner_image.jpg' %}" width="100%" />
        </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="width:100%;">
        <h1 style="margin-top: 5%; color:black; font-size: 68px; font-weight: bold;">OUR PEOPLE</h1>
        <p style="font-size: 24px;"><span class="first_letter_cap">A</span>t the end of the day, it all comes down to tea. But to get there it takes a <br> dedicated, knowledgeable and cooperative team with a sustainable approach. <br> We're enthusiasts with a passion of one thing - Amazing Tea. Meet the people <br> committed making great tea happen every day at Life Of Chai.</p>
    </div>
</div>

<div class="container" style="margin-bottom: 10%; margin-top: 5%;">
    <img src="{% static '/images/our_team/Group_661.png'%}" alt="Avatar" >
</div>
{% endblock %}